article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:0}
dd{margin:0}
menu,ol,ul{padding:0}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
html,button,input,select,textarea{color:#222}
body{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
@media only screen and (min-width:35em){}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group;} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page {margin:.5cm}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}.yui3-g{letter-spacing:-0.31em;*letter-spacing:normal;*word-spacing:-0.43em;text-rendering:optimizespeed}
.opera-only :-o-prefocus,.yui3-g{word-spacing:-0.43em}
.yui3-u{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.yui3-u-1,.yui3-u-1-2,.yui3-u-1-3,.yui3-u-2-3,.yui3-u-1-4,.yui3-u-3-4,.yui3-u-1-5,.yui3-u-2-5,.yui3-u-3-5,.yui3-u-4-5,.yui3-u-1-6,.yui3-u-5-6,.yui3-u-1-8,.yui3-u-3-8,.yui3-u-5-8,.yui3-u-7-8,.yui3-u-1-12,.yui3-u-5-12,.yui3-u-7-12,.yui3-u-11-12,.yui3-u-1-24,.yui3-u-5-24,.yui3-u-7-24,.yui3-u-11-24,.yui3-u-13-24,.yui3-u-17-24,.yui3-u-19-24,.yui3-u-23-24{display:inline-block;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.yui3-u-1{display:block}
.yui3-u-1-2{width:50%}
.yui3-u-1-3{width:33.33333%}
.yui3-u-2-3{width:66.66666%}
.yui3-u-1-4{width:25%}
.yui3-u-3-4{width:75%}
.yui3-u-1-5{width:20%}
.yui3-u-2-5{width:40%}
.yui3-u-3-5{width:60%}
.yui3-u-4-5{width:80%}
.yui3-u-1-6{width:16.656%}
.yui3-u-5-6{width:83.33%}
.yui3-u-1-8{width:12.5%}
.yui3-u-3-8{width:37.5%}
.yui3-u-5-8{width:62.5%}
.yui3-u-7-8{width:87.5%}
.yui3-u-1-12{width:8.3333%}
.yui3-u-5-12{width:41.6666%}
.yui3-u-7-12{width:58.3333%}
.yui3-u-11-12{width:91.6666%}
.yui3-u-1-24{width:4.1666%}
.yui3-u-5-24{width:20.8333%}
.yui3-u-7-24{width:29.1666%}
.yui3-u-11-24{width:45.8333%}
.yui3-u-13-24{width:54.1666%}
.yui3-u-17-24{width:70.8333%}
.yui3-u-19-24{width:79.1666%}
.yui3-u-23-24{width:95.8333%}
#yui3-css-stamp.cssgrids{display:none}
@media screen and (min-width:1000px){.res-l-hidden{display:none} .yui3-u-l-1{display:block;width:100%} .yui3-u-l-1-2{width:50%} .yui3-u-l-1-3{width:33.33333%} .yui3-u-l-2-3{width:66.66666%} .yui3-u-l-1-4{width:25%} .yui3-u-l-3-4{width:75%} .yui3-u-l-1-5{width:20%} .yui3-u-l-2-5{width:40%} .yui3-u-l-3-5{width:60%} .yui3-u-l-4-5{width:80%} .yui3-u-l-1-6{width:16.656%} .yui3-u-l-5-6{width:83.33%} .yui3-u-l-1-8{width:12.5%} .yui3-u-l-3-8{width:37.5%} .yui3-u-l-5-8{width:62.5%} .yui3-u-l-7-8{width:87.5%} .yui3-u-l-1-12{width:8.3333%} .yui3-u-l-5-12{width:41.6666%} .yui3-u-l-7-12{width:58.3333%} .yui3-u-l-11-12{width:91.6666%} .yui3-u-l-1-24{width:4.1666%} .yui3-u-l-5-24{width:20.8333%} .yui3-u-l-7-24{width:29.1666%} .yui3-u-l-11-24{width:45.8333%} .yui3-u-l-13-24{width:54.1666%} .yui3-u-l-17-24{width:70.8333%} .yui3-u-l-19-24{width:79.1666%} .yui3-u-l-23-24{width:95.8333%}}@media screen and (min-width:500px) and (max-width:1000px){.res-m-hidden{display:none} .yui3-u-m-1{display:block;width:100%} .yui3-u-m-1-2{width:50%} .yui3-u-m-1-3{width:33.33333%} .yui3-u-m-2-3{width:66.66666%} .yui3-u-m-1-4{width:25%} .yui3-u-m-3-4{width:75%} .yui3-u-m-1-5{width:20%} .yui3-u-m-2-5{width:40%} .yui3-u-m-3-5{width:60%} .yui3-u-m-4-5{width:80%} .yui3-u-m-1-6{width:16.656%} .yui3-u-m-5-6{width:83.33%} .yui3-u-m-1-8{width:12.5%} .yui3-u-m-3-8{width:37.5%} .yui3-u-m-5-8{width:62.5%} .yui3-u-m-7-8{width:87.5%} .yui3-u-m-1-12{width:8.3333%} .yui3-u-m-5-12{width:41.6666%} .yui3-u-m-7-12{width:58.3333%} .yui3-u-m-11-12{width:91.6666%} .yui3-u-m-1-24{width:4.1666%} .yui3-u-m-5-24{width:20.8333%} .yui3-u-m-7-24{width:29.1666%} .yui3-u-m-11-24{width:45.8333%} .yui3-u-m-13-24{width:54.1666%} .yui3-u-m-17-24{width:70.8333%} .yui3-u-m-19-24{width:79.1666%} .yui3-u-m-23-24{width:95.8333%}}@media screen and (max-width:500px){.res-s-hidden{display:none} .yui3-u-s-1{display:block;width:100%} .yui3-u-s-1-2{width:50%} .yui3-u-s-1-3{width:33.33333%} .yui3-u-s-2-3{width:66.66666%} .yui3-u-s-1-4{width:25%} .yui3-u-s-3-4{width:75%} .yui3-u-s-1-5{width:20%} .yui3-u-s-2-5{width:40%} .yui3-u-s-3-5{width:60%} .yui3-u-s-4-5{width:80%} .yui3-u-s-1-6{width:16.656%} .yui3-u-s-5-6{width:83.33%} .yui3-u-s-1-8{width:12.5%} .yui3-u-s-3-8{width:37.5%} .yui3-u-s-5-8{width:62.5%} .yui3-u-s-7-8{width:87.5%} .yui3-u-s-1-12{width:8.3333%} .yui3-u-s-5-12{width:41.6666%} .yui3-u-s-7-12{width:58.3333%} .yui3-u-s-11-12{width:91.6666%} .yui3-u-s-1-24{width:4.1666%} .yui3-u-s-5-24{width:20.8333%} .yui3-u-s-7-24{width:29.1666%} .yui3-u-s-11-24{width:45.8333%} .yui3-u-s-13-24{width:54.1666%} .yui3-u-s-17-24{width:70.8333%} .yui3-u-s-19-24{width:79.1666%} .yui3-u-s-23-24{width:95.8333%}}.ellipses{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.pattern-bg-lite{background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px}
.pattern-bg-dark{background:#202024 url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;background-size:18px 18px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.pattern-bg-lite{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;background-size:18px 18px} .pattern-bg-dark{background:#202024 url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;background-size:18px 18px}}.transition-off{webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;-webkit-backface-visibility:hidden}
.ir{font:0/0 a;text-shadow:none;color:transparent}
@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot');src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../../fonts/icomoon.svg#icomoon') format('svg');font-weight:normal;font-style:normal}[data-icon]:before{font-family:'icomoon';font-weight:normal;font-variant:normal;text-transform:none;line-height:1;content:attr(data-icon);speak:none;-webkit-font-smoothing:antialiased}
.icon-heart,.icon-globe,.icon-world,.icon-windows,.icon-uptriangle,.icon-yberx,.icon-twitter,.icon-thin_plus,.icon-taxi,.icon-suv,.icon-star,.icon-share,.icon-search,.icon-rightarrow,.icon-right_thin,.icon-plus,.icon-moto,.icon-minus,.icon-menu,.icon-mail,.icon-lux,.icon-logo,.icon-left_thin,.icon-instagram,.icon-googleplus,.icon-googleplay,.icon-facebook,.icon-downtriangle,.icon-downarrow,.icon-close,.icon-check,.icon-chat,.icon-blackberry,.icon-black,.icon-apple,.icon-lightbulb,.icon-instagram2,.icon-seal,.icon-thumbsup,.icon-pin,.icon-signup-downarrow,.icon-signup-uparrow,.icon-vehiclearrow-left,.icon-vehiclearrow-right,.icon-modal-close,.icon-nav-rightarrow,.icon-mobilemodalclose,.icon-leftarrow,.icon-error,.icon-avatar,.icon-deposit,.icon-payment,.icon-schedule,.icon-linkedin,.icon-linkedin_box{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-heart:before{content:"\e023"}
.icon-globe:before{content:"\e024"}
.icon-world:before{content:"\e001"}
.icon-windows:before{content:"\e002"}
.icon-uptriangle:before{content:"\e003"}
.icon-yberx:before{content:"\e004"}
.icon-twitter:before{content:"\e005"}
.icon-thin_plus:before{content:"\e006"}
.icon-taxi:before{content:"\e007"}
.icon-suv:before{content:"\e008"}
.icon-star:before{content:"\e009"}
.icon-share:before{content:"\e00a"}
.icon-search:before{content:"\e00b"}
.icon-rightarrow:before{content:"\e01b"}
.icon-right_thin:before{content:"\e013"}
.icon-plus:before{content:"\e012"}
.icon-moto:before{content:"\e011"}
.icon-minus:before{content:"\e010"}
.icon-menu:before{content:"\e00f"}
.icon-mail:before{content:"\e00e"}
.icon-lux:before{content:"\e00d"}
.icon-logo:before{content:"\e00c"}
.icon-left_thin:before{content:"\e000"}
.icon-instagram:before{content:"\e015"}
.icon-googleplus:before{content:"\e016"}
.icon-googleplay:before{content:"\e018"}
.icon-facebook:before{content:"\e019"}
.icon-downtriangle:before{content:"\e01a"}
.icon-downarrow:before{content:"\20"}
.icon-close:before{content:"\e01c"}
.icon-check:before{content:"\e01d"}
.icon-chat:before{content:"\e01e"}
.icon-blackberry:before{content:"\e01f"}
.icon-black:before{content:"\e020"}
.icon-apple:before{content:"\e017"}
.icon-lightbulb:before{content:"\e021"}
.icon-instagram2:before{content:"\e022"}
.icon-seal:before{content:"\e014"}
.icon-thumbsup:before{content:"\e025"}
.icon-pin:before{content:"\e026"}
.icon-signup-downarrow:before{content:"\e027"}
.icon-signup-uparrow:before{content:"\e028"}
.icon-vehiclearrow-left:before{content:"\e029"}
.icon-vehiclearrow-right:before{content:"\e02a"}
.icon-modal-close:before{content:"\e02b"}
.icon-nav-rightarrow:before{content:"\e02c"}
.icon-mobilemodalclose:before{content:"\e02d"}
.icon-leftarrow:before{content:"\e02e"}
.icon-error:before{content:"\e02f"}
.icon-avatar:before{content:"\e030"}
.icon-deposit:before{content:"\e031"}
.icon-payment:before{content:"\e032"}
.icon-schedule:before{content:"\e033"}
.icon-linkedin:before{content:"\e034"}
.icon-linkedin_box:before{content:"\e035"}
html,body{height:100%}
body{background-color:#000}
.light{color:#000}
.light .site-wrapper{background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.light .site-wrapper{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.light .site-wrapper{background-size:18px 18px}}.light .site-wrapper .head-fade{display:none}
.preloader{width:100%;height:100%;background-color:#000;position:absolute;top:0;left:0;z-index:9}
.web.global-container{overflow:hidden}
.noverflow{overflow:hidden}
.site-wrapper{min-height:100%;margin-top:0;margin-bottom:-126px;background-color:#000;-webkit-box-shadow:0 10px 25px #000;-moz-box-shadow:0 10px 25px #000;box-shadow:0 10px 25px #000;position:relative;z-index:1px;}
.site-wrapper:after{height:42px;content:"";display:block}
.site-wrapper .head-fade{width:100%;height:165px;background:-moz-linear-gradient(top, rgba(7,7,22,0.7) 0, rgba(7,7,22,0.3) 70%, rgba(7,7,22,0) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(7,7,22,0.7)), color-stop(70%, rgba(7,7,22,0.3)), color-stop(100%, rgba(7,7,22,0)));background:-webkit-linear-gradient(top, rgba(7,7,22,0.7) 0, rgba(7,7,22,0.3) 70%, rgba(7,7,22,0) 100%);background:-o-linear-gradient(top, rgba(7,7,22,0.7) 0, rgba(7,7,22,0.3) 70%, rgba(7,7,22,0) 100%);background:-ms-linear-gradient(top, rgba(7,7,22,0.7) 0, rgba(7,7,22,0.3) 70%, rgba(7,7,22,0) 100%);background:linear-gradient(to bottom, rgba(7,7,22,0.7) 0, rgba(7,7,22,0.3) 70%, rgba(7,7,22,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc070716', endColorstr='#00070716', GradientType=0);position:absolute;top:0;left:0;z-index:4}
.site-wrapper .grid-locked{width:100%;max-width:1228px;margin:0 auto}
.site-wrapper .grid-squeezed{padding:0 90px}
.site-wrapper.menu-showing{width:100%;right:-285px}
.site-wrapper.menu-showing .grid-locked{width:936px}
.site-wrapper.menu-showing .grid-squeezed{padding:0}
.focused .global-footer,.focused .global-header{display:none}
.focused .site-wrapper{margin:0}
p,a,h1,h2,h3,h4,h5,li,select,option,input,button,label{font-family:"ff-clan-web-pro-wide",sans-serif;font-weight:normal}
p,a,h1,h2,h3,h4,h5{margin:0;padding:0}
h1{font-size:96px;text-shadow:0 0 20px rgba(0,0,0,0.4)}
h2{font-size:60px}
h3{font-size:37px}
h4{font-size:26px;font-weight:100}
h5{font-size:17px}
h1,h2,h3,h4,h5{text-transform:uppercase}
p,ul{font-size:14px}
p{line-height:27px}
a{font-size:10px;color:#3a753e;text-transform:uppercase;text-decoration:none}
label{cursor:pointer}
.section-dark{color:#fff}
.section-light{background:#fff;color:#000}
.btn{padding:5px 8px;border:2px solid #3a753e;background-color:#000;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.btn-filled{background-color:#3a753e}
.btn-filled:hover{background-color:#4b9750;border-color:#4b9750}
.btn-false{font-size:100%}
.muted{color:#c4c4c4}
.block-center{margin:0 auto;display:block}
.middle{vertical-align:middle}
.pull-left{float:left}
.pull-right{float:right}
.false-table{display:table}
.false-table-cell{display:table-cell}
.border-center{margin-bottom:12px}
.border-center>span{display:inline-block;padding:0 20px;background:#000}
.border-center:after{background:#53535c;content:"";display:block;height:1px;margin-top:-12px}
.label{display:inline-block;margin-bottom:20px;padding:0 10px;background-color:#000;font-size:10px;font-weight:500;color:#fff;text-transform:uppercase;line-height:23px;letter-spacing:1px}
.label.inverted{background-color:#fff;color:#000}
.label.reverted{background-color:#fff;border:1px solid #000;color:#000}
.downloads{padding:36px 15px 0;text-align:right}
.downloads a{display:inline-block;width:96px;height:28px;background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat left top}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.downloads a{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.downloads a{background-size:690px 264px}}.downloads a.google-play{background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat left -30px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.downloads a.google-play{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat left -30px;background-size:690px 264px}}.uppercase{text-transform:uppercase}
.center{text-align:center}
@media screen and (min-width:1000px){.l-center{text-align:center}}@media screen and (max-width:1000px) and (min-width:500px){.m-center{text-align:center}}@media screen and (max-width:500px){.s-center{text-align:center}}.media,.island,.islet{margin-bottom:22.4px;margin-bottom:1.4rem}
.landmark{margin-bottom:44.8px;margin-bottom:2.8rem}
.vertical-rhythm{}
.vertical-rhythm h1,.vertical-rhythm h2,.vertical-rhythm h3,.vertical-rhythm h4,.vertical-rhythm h5,.vertical-rhythm h6,.vertical-rhythm hgroup,.vertical-rhythm ul,.vertical-rhythm ol,.vertical-rhythm dl,.vertical-rhythm blockquote,.vertical-rhythm p,.vertical-rhythm address,.vertical-rhythm table,.vertical-rhythm fieldset,.vertical-rhythm figure{margin-bottom:22.4px;margin-bottom:1.4rem}
.vertical-rhythm hr{margin-bottom:20.4px;margin-bottom:1.275rem}
.vertical-rhythm ul,.vertical-rhythm ol,.vertical-rhythm dd{margin-left:44.8px;margin-left:2.8rem}
.yber-logo,.light .down-page .yber-logo{display:inline-block;width:167px;height:23px;background:transparent url('../images/web-fresh/global/logo-web-light_1x.png') no-repeat left top;background-size:167px 23px;background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;font:0/0 a;text-shadow:none;color:transparent}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.yber-logo,.light .down-page .yber-logo{background:transparent url('../images/web-fresh/global/logo-web-light_2x.png') no-repeat left top;background-size:166px 22px}}.focused-view{margin:20px;padding:90px 180px;border:5px solid #3a753e}
.focused-view-subtitle{font-size:17px;color:#c2c2c2;text-transform:uppercase}
@media screen and (max-width:1000px) and (min-width:500px){.focused-view{padding:40px 30px}}@media screen and (max-width:500px){.focused-view{padding:10px 10px;border:0}}.padded-form-btn{padding:13px 10px}
.padded-form input,.padded-form button{padding:13px 10px}
.field>input{border:#fff 3px solid}
.field-invalid>input{border-color:#eb2323;color:#eb2323;}
.field-invalid>input::-webkit-input-placeholder{color:#eb2323}
.field-invalid>input:-moz-placeholder{color:#eb2323}
.field-invalid>input::-moz-placeholder{color:#eb2323}
.field-invalid>input:-ms-input-placeholder{color:#eb2323}
.form-loadable .submit{padding-bottom:0;position:relative}
.form-loadable .submit .pending-loader{display:none;width:50px;height:50px;position:absolute;top:3px;right:25px;z-index:3;background:transparent url('../images/web-fresh/loader_1x.gif') no-repeat center center}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.form-loadable .submit .pending-loader{background:transparent url('../images/web-fresh/loader_2x.gif') no-repeat center center}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.form-loadable .submit .pending-loader{background-size:60px 60px}}.pending .submit .pending-loader{display:block}
.pending .submit .btn{background-color:#155d6c;border-color:#155d6c}
.pending .submit .btn:hover{cursor:default}
.error-note{font-size:.9em;color:#eb2323}
.flag-dropdown{position:relative}
.flag-image{display:none;z-index:1;position:absolute;top:12px;right:9px;width:32px;height:28px;border:none;background:url('../images/web-fresh/forms/flags_2x.png') 0 -7330px no-repeat}
.verylux{display:none;width:385px;height:181px;position:absolute;bottom:0;left:-400px;z-index:999;background:transparent url("../images/web-fresh/vehicles/car-w-500-400_1x.png") no-repeat left top}
.controller{width:100%;height:1px;position:absolute;top:85%;z-index:3;color:#fff;line-height:0;text-align:center}
.controller a{display:inline-block;min-height:25px;margin-left:12px;padding:28px;position:relative;top:-32px}
.controller a .blue-dot{display:inline-block;margin:0;border:5px solid #3a753e;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:relative}
.controller a:first-child{margin-left:0}
.controller a.active .blue-dot{border-color:#ccc}
.highlight-boxes{background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px;text-align:center;position:relative;z-index:2}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.highlight-boxes{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.highlight-boxes{background-size:18px 18px}}.highlight-boxes .boxes-grid{position:relative;top:-88px}
.highlight-boxes .boxes-grid .box>div{min-height:350px;padding:15px 45px;background-color:#000;border-right:1px dashed #898989;color:#fff;text-align:center}
.highlight-boxes .boxes-grid .box>div h4{padding-bottom:15px}
.highlight-boxes .boxes-grid .box>div p{color:#c2c2c2}
.highlight-boxes .boxes-grid .box>div .icon{padding:30px 0 25px;font-size:30px;color:#3a753e}
.highlight-boxes .boxes-grid .box:last-child>div{border-right:none}
.gray-box-cta{padding:50px;background-color:#f1f1f1}
.gray-box-cta h4{display:table-cell;height:60px;vertical-align:middle}
.gray-box-cta .cta{float:right}
.gray-box-cta .cta p{display:table-cell;height:60px;vertical-align:middle}
.gray-box-cta .cta a{padding:20px 60px;background-color:#3a753e;font-size:14px;color:#fff;text-transform:uppercase}
.error-page .heading,.zero-tolerance .heading{padding:250px 0;text-align:center;color:#fff}
.error-page .heading a,.zero-tolerance .heading a{font-size:14px;text-transform:none}
.error-page .heading a:hover,.zero-tolerance .heading a:hover{text-decoration:underline}
#slides .slides-container{display:none}
#slides .scrollable{*zoom:1;position:relative;top:0;left:0;overflow-y:auto;-webkit-overflow-scrolling:touch;height:100%}
#slides .scrollable:after{content:"";display:table;clear:both}
.slides-navigation{margin:0 auto;position:absolute;z-index:3;top:46%;width:100%}
.slides-navigation a{position:absolute;display:block}
.slides-navigation a.prev{left:0}
.slides-navigation a.next{right:0}
.slides-pagination{position:absolute;z-index:3;bottom:0;text-align:center;width:100%}
.slides-pagination a{border:2px solid #222;border-radius:15px;width:10px;height:10px;display:inline-block;margin:2px}
.slides-pagination a.current{background:#222}
.slides-container li:nth-child(1){background-image:url(../images/web-fresh/home/heros/home-hero-1-1440-900.jpg)}
.slides-container li:nth-child(2){background-image:url(../images/web-fresh/home/heros/home-hero-2-1440-900.jpg)}
.slides-container li:nth-child(3){background-image:url(../images/web-fresh/home/heros/home-hero-3-1440-900.jpg)}
.slides-container li:nth-child(4){background-image:url(../images/web-fresh/home/heros/home-hero-4-1440-900.jpg)}
.slides-container li:nth-child(5){background-image:url(../images/web-fresh/home/heros/home-hero-5-1440-900.jpg)}
.slides-container li:nth-child(6){background-image:url(../images/web-fresh/home/heros/home-hero-6-1440-900.jpg)}
.slides-container li{background-size:cover;background-origin:0 50%;background-repeat:no-repeat}
.vehicle-fleet{height:1026px;padding:60px 0;position:relative;text-align:center;background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px;}
.vehicle-fleet .bg-top{width:100%;height:499px;position:absolute;background-color:#000}
.vehicle-fleet h3,.vehicle-fleet p{color:#fff}
.vehicle-fleet .content{position:relative;padding:50px 0}
.vehicle-fleet .content .vehicle-slide{display:none}
.vehicle-fleet .content .vehicle-slide.active{display:block}
.vehicle-fleet .sunrise-box{height:290px;overflow:hidden;position:relative;top:37px}
.vehicle-fleet .sunrise-box h4{position:relative;top:120px;font-size:15px;font-weight:400;color:#000}
.vehicle-fleet .sunrise-box .sunrise{display:inline-block;width:580px;height:580px;padding-top:56px;background-color:#1ca8c3;font-size:45px;font-weight:100;-webkit-border-radius:290px;-moz-border-radius:290px;border-radius:290px}
.vehicle-fleet .sunrise-box .sunrise strong{font-weight:400}
.vehicle-fleet .black .sunrise-box h4{color:#fff}
.vehicle-fleet .controller{top:75px}
.vehicle-fleet .vehicle-info{margin:0 auto;padding-top:100px;position:relative}
.vehicle-fleet .vehicle-info p{color:#000}
.vehicle-fleet .vehicle-info .copy{height:180px;padding-top:145px;position:relative;z-index:2}
.vehicle-fleet .vehicle-info .vehicle-img{width:100%;height:650px;position:absolute;top:-262px;z-index:1;text-indent:-5000px}
.vehicle-fleet .moto .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-moto-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .yberx .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .taxi .sunrise-box .sunrise{background-color:#ecca28}
.vehicle-fleet .taxi .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .black .sunrise-box .sunrise{background-color:#111e31}
.vehicle-fleet .black .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .suv .sunrise-box .sunrise{background-color:#b8b8b9}
.vehicle-fleet .suv .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .lux .sunrise-box .sunrise{background-color:#a6b1b6}
.vehicle-fleet .lux .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-1703-1362_1x.png') no-repeat center top}
.vehicle-fleet .vehicle-chooser{width:435px;margin:0 auto;position:relative;z-index:9}
.vehicle-fleet .vehicle-chooser .vehicles{position:relative}
.vehicle-fleet .vehicle-chooser .vehicles a{position:relative;top:0;font-size:13px;color:#000;font-weight:500}
.vehicle-fleet .vehicle-chooser .vehicles a.yberx{text-transform:none}
.vehicle-fleet .vehicle-chooser .slider-bar{width:390px;height:60px;margin:0 auto;background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat 15px -202px;position:relative;top:-30px;cursor:pointer}
.vehicle-fleet .vehicle-chooser .slider-bar .slider-circle{display:block;width:45px;height:48px;padding:6px;position:absolute;top:30px;background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat -450px -1px}
.vehicle-fleet .vehicle-chooser .slider-bar .slider-circle .car{display:inline-block;padding:3px 0;font-size:25px;color:#3a753e}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.vehicle-fleet{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;background-size:18px 18px} .vehicle-fleet .moto .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-moto-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .yberx .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .taxi .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .black .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .suv .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .lux .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-1703-1362_2x.png') no-repeat center top;background-size:850px 680px} .vehicle-fleet .vehicle-chooser .slider-bar{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat 15px -202px;background-size:690px 264px} .vehicle-fleet .vehicle-chooser .slider-bar .slider-circle{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat -450px -1px;background-size:690px 264px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.vehicle-fleet .mobile-nav .yberx .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-500-400_2x.png') no-repeat center top;background-size:250px 200px} .vehicle-fleet .mobile-nav .taxi .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-500-400_2x.png') no-repeat center top;background-size:250px 200px} .vehicle-fleet .mobile-nav .black .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-500-400_2x.png') no-repeat center top;background-size:250px 200px} .vehicle-fleet .mobile-nav .suv .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-500-400_2x.png') no-repeat center top;background-size:250px 200px} .vehicle-fleet .mobile-nav .lux .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-500-400_2x.png') no-repeat center top;background-size:250px 200px}}.story{list-style:none outside none}
.story li{padding:5px;cursor:pointer}
.story li:hover .overlay{top:-288px}
.story li:hover .headline{top:-185px}
.story li:hover .plus{-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;opacity:0}
.story li>div{min-height:285px;position:relative;overflow:hidden;text-align:center;border:1px solid #bababa}
.story li .overlay{width:100%;height:100%;-webkit-transition:top .2s ease-out;-moz-transition:top .2s ease-out;-o-transition:top .2s ease-out;transition:top .2s ease-out;background-color:rgba(7,7,22,0.7);position:absolute;top:0;left:0;z-index:3}
.story li .title-box{display:table;width:100%;height:285px;position:absolute;z-index:4}
.story li .headline{display:table-cell;position:relative;top:0;-webkit-transition:top .2s ease-out;-moz-transition:top .2s ease-out;-o-transition:top .2s ease-out;transition:top .2s ease-out;color:#fff;text-align:center;vertical-align:middle}
.story li .plus{display:block;margin-left:-13px;padding:5px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background-color:#000;position:absolute;left:50%;top:200px;-moz-opacity:.8;-khtml-opacity:.8;-webkit-opacity:.8;opacity:.8;-webkit-transition:opacity .1s ease-out;color:#3a753e}
.features{min-height:520px;padding:60px 0;position:relative;background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px;text-align:center}
.features.gallery-open .story{display:none}
.features.gallery-open .modal-gallery{display:block}
.features .story{padding:50px 0}
.features .story li>div{background:transparent url('../images/web-fresh/home/uber-app/feature-box-bgs-web-sprite_1x-8.png') no-repeat left top}
.features article.fr-FR-story li>div{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top}
.features article.it-IT-story li>div{background:transparent url('../images/web-fresh/home/uber-app/it-IT/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top}
.features article.nl-NL-story li>div{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top}
.features .story .tap-to-ride>div{background-position:40px 0}
.features .story .reliable-pickup>div{background-position:-332px 0}
.features .story .clear-pricing>div{background-position:-706px 0}
.features .story .cashless-convenient>div{background-position:40px -310px}
.features .story .feedback-matters>div{background-position:-350px -310px}
.features .story .split-fare>div{background-position:-720px -310px}
.features .modal-gallery{display:none;position:relative}
.features .modal-gallery .close-modal{position:absolute;top:-34px;right:8px;font-size:20px;font-weight:bold}
.features .modal-gallery .modal-container{width:100%;height:600px;margin-top:50px;background-color:#070716;background:#202024 url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;background-size:18px 18px;color:#fff}
.features .modal-gallery .modal-container .btn{width:40%;height:452px;margin-top:-226px;padding:215px 20px 0 0;background-color:transparent;border:none;position:absolute;top:50%;right:0;z-index:2;font-size:22px;color:#1ebad6;text-align:right}
.features .modal-gallery .modal-container .btn.last{padding:215px 0 0 20px;left:0;text-align:left}
.features .modal-gallery .modal-container ul{list-style:none outside none}
.features .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-web-sprite_1x-8.png') no-repeat left top}
.features .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-web-sprite_1x-8.png') no-repeat left top}
.features .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-web-sprite_1x-8.png') no-repeat left top}
.features .modal-gallery .modal-container .modal-slide{display:none;padding:75px;position:relative}
.features .modal-gallery .modal-container .modal-slide.active{display:block}
.features .modal-gallery .modal-container .modal-slide .copy{position:relative;text-align:left}
.features .modal-gallery .modal-container .modal-slide .stick{width:225px;height:32px;position:relative;background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat -145px top;z-index:1}
.features .modal-gallery .modal-container .modal-slide .feature-image{position:absolute;z-index:2;background:transparent url('../images/web-fresh/home/uber-app/features-phones-web-sprite_1x-8.png') no-repeat left top}
.features .modal-gallery .modal-container .modal-slide.tap-to-ride .copy{padding:110px 0 0 340px}
.features .modal-gallery .modal-container .modal-slide.tap-to-ride .stick{top:220px;left:128px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.features .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image{width:270px;height:660px;top:-32px;left:85px}
.features .modal-gallery .modal-container .modal-slide.reliable-pickup .copy{padding:110px 380px 0 35px}
.features .modal-gallery .modal-container .modal-slide.reliable-pickup .stick{top:220px;left:448px;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-o-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg)}
.features .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image{width:270px;height:660px;background-position:-320px top;top:-32px;right:85px}
.features .modal-gallery .modal-container .modal-slide.clear-pricing .copy{padding:100px 0 0 510px}
.features .modal-gallery .modal-container .modal-slide.clear-pricing .stick{top:210px;left:305px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.features .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image{width:415px;height:660px;background-position:-610px -15px;top:-32px;left:75px}
.features .modal-gallery .modal-container .modal-slide.cashless-convenient .copy{padding:110px 450px 0 40px}
.features .modal-gallery .modal-container .modal-slide.cashless-convenient .stick{top:150px;left:335px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.features .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image{width:330px;height:660px;background-position:0 -672px;top:-32px;right:85px}
.features .modal-gallery .modal-container .modal-slide.feedback-matters .copy{padding:110px 0 0 340px}
.features .modal-gallery .modal-container .modal-slide.feedback-matters .stick{top:220px;left:128px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.features .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image{width:260px;height:660px;background-position:-330px -677px;top:-32px;left:85px}
.features .modal-gallery .modal-container .modal-slide.split-fare .copy{padding:110px 450px 0 0}
.features .modal-gallery .modal-container .modal-slide.split-fare .stick{top:218px;left:362px;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-o-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg)}
.features .modal-gallery .modal-container .modal-slide.split-fare .feature-image{width:440px;height:660px;background-position:-598px -682px;top:-32px;right:55px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.features{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;background-size:18px 18px} .features .story li>div{background:transparent url('../images/web-fresh/home/uber-app/feature-box-bgs-web-sprite_2x-8.png') no-repeat left top;background-size:1004px 596px} .features article.fr-FR-story li>div{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;background-size:1004px 596px} .features article.it-IT-story li>div{background:transparent url('../images/web-fresh/home/uber-app/it-IT/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;background-size:1004px 596px} .features article.nl-NL-story li>div{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;background-size:1004px 596px} .features .modal-gallery .modal-container{background:#202024 url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;background-size:18px 18px} .features .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-web-sprite_2x-8.png') no-repeat left top;background-size:1040px 1354px} .features .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-web-sprite_2x-8.png') no-repeat left top;background-size:1040px 1354px} .features .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-web-sprite_2x-8.png') no-repeat left top;background-size:1040px 1354px} .features .modal-gallery .modal-container .modal-slide .stick{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat -145px top;background-size:690px 264px} .features .modal-gallery .modal-container .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/features-phones-web-sprite_2x-8.png') no-repeat left top;background-size:1040px 1354px}}.around-the-world{min-height:805px;padding:20px 0;text-align:center;color:#fff;background:#070716 url('../images/web-fresh/home/map-web_1x.gif') no-repeat center 200px;background-size:contain}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.around-the-world{background:#070716 url('../images/web-fresh/home/map-web_2x.gif') no-repeat center 200px}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.around-the-world{background-size:1024px 510px}}.around-the-world .map-title{padding-top:30px}
.around-the-world form{padding:180px 0 12px;text-align:center}
.around-the-world form .city-search{display:inline-block}
.around-the-world form .city-search input{width:300px}
.around-the-world .cities-link{font-size:14px}
.country-input{display:none;z-index:2;opacity:0;letter-spacing:normal;position:absolute;top:12px;right:9px;width:32px;height:28px;text-indent:1px;cursor:pointer}
.city-search,.city-selected{position:relative;padding:5px;background-color:rgba(30,186,214,0.5)}
.city-search input,.city-selected>p{width:100%;padding:18px 15px 17px;border:1px solid #3a753e;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:14px;text-transform:uppercase}
.city-search .search-button,.city-selected .close-button{background-color:#000;position:absolute;top:11px;right:11px}
.city-search .city-list{width:300px;max-height:310px;border-bottom:1px solid #898989;background-color:#f1f1f1;position:absolute;overflow:scroll;-webkit-overflow-scrolling:touch}
.city-search .city-list .city-search-item.selected{background-color:#fff}
.city-search .city-list a,.city-search .city-list span{display:inline-block;width:100%;border-right:1px solid;border-left:1px solid;font-size:12px;color:#898989;text-align:left;text-transform:uppercase}
.city-search .city-list a{padding:18px 15px}
.city-search .city-list a:hover{background-color:#fff}
.city-search .city-list .search-info{padding:10px 15px}
.city-search .city-list .search-term{padding:4px 15px;color:#000;border-color:#898989}
.city-search .search-button{padding:14px;font-size:13px;color:#fff}
.city-selected .close-button{width:40px;height:40px;text-indent:-5000px}
.ellipses{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.pattern-bg-lite{background:#fff url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;background-size:18px 18px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.pattern-bg-lite{background:#fff url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.pattern-bg-lite{background-size:18px 18px}}.pattern-bg-dark{background:#202024 url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;background-size:18px 18px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.pattern-bg-dark{background:#202024 url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;background-size:18px 18px}}.transition-off{webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;-webkit-backface-visibility:hidden}
@media screen and (min-width:1000px) and (max-width:1440px){.hero .controller{top:98%} .hero .controller a{padding:0} .hero .hero-slide .headline{top:55%} .hero .hero-slide .headline h1{font-size:75px}}@media screen and (min-width:500px) and (max-width:1000px){.hero .hero-slide .headline{top:50%} .hero .hero-slide .headline h1{line-height:60px} .request-and-ride .story{padding:50px 100px} .request-and-ride .modal-gallery .modal-container{height:300px} .request-and-ride .modal-gallery .modal-container .btn{height:300px;margin-top:-150px;padding-top:135px} .request-and-ride .modal-gallery .modal-container .btn.last{padding-top:135px} .request-and-ride .modal-gallery .modal-container .modal-slide{padding:10px} .request-and-ride .modal-gallery .modal-container .modal-slide .copy{padding:48px 70px 65px 30px;top:-28px} .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3{font-size:27px} .request-and-ride .modal-gallery .modal-container .modal-slide .copy p{font-size:12px;line-height:22px} .request-and-ride .modal-gallery .modal-container .modal-slide .stick{display:none} .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/features-phones-tablet-sprite_1x-8.png') no-repeat left top} .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .copy{padding:112px 55px 0 215px} .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image{width:128px;height:335px;top:-18px;left:48px} .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .copy{padding:83px 205px 0 70px} .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image{width:129px;height:338px;background-position:-162px top;top:-20px;right:50px} .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .copy{padding:115px 80px 0 288px} .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image{width:212px;height:333px;background-position:-300px -6px;top:-17px;left:38px} .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .copy{padding:102px 240px 0 62px} .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image{width:163px;height:336px;background-position:0 -336px;top:-16px;right:38px} .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .copy{padding:100px 55px 0 228px} .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image{width:122px;height:332px;background-position:-173px -336px;top:-16px;left:70px} .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .copy{padding:95px 345px 0 70px} .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .feature-image{width:220px;height:335px;background-position:-297px -338px;top:-20px;right:80px} .around-the-world{background-position:center 165px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/features-phones-tablet-sprite_2x-8.png') no-repeat left top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{background-size:520px 676px}}@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){.hero .hero-slide .headline{top:70%}}@media screen and (min-width:500px) and (max-width:780px){.request-and-ride .story{padding:50px 0}}@media screen and (max-width:500px){.hero .hero-slide .headline{top:52%} .request-and-ride{padding:25px 0} .request-and-ride .grid-locked{padding:0 5px} .request-and-ride .story{padding:20px 0} .request-and-ride .story li .headline{font-size:15px} .request-and-ride .modal-gallery .close-modal{padding:21px;top:0;right:2px;z-index:9;font-size:14px} .request-and-ride .modal-gallery .modal-container{width:100%;height:468px;margin-top:25px;padding-top:55px;position:relative;overflow:hidden;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.5);-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.5);box-shadow:1px 1px 3px rgba(0,0,0,0.5)} .request-and-ride .modal-gallery .modal-container .btn{height:auto;margin:0;width:52px;padding:22px;top:0;left:0;font-size:12px;font-weight:bold} .request-and-ride .modal-gallery .modal-container .btn.next{left:50px} .request-and-ride .modal-gallery .modal-container .btn.last{padding:22px 20px} .request-and-ride .modal-gallery .modal-container ul{border-top:1px solid #666} .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-mobile_1x.jpg') no-repeat left top} .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-mobile_1x.jpg') no-repeat left top} .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-mobile_1x.jpg') no-repeat left top} .request-and-ride .modal-gallery .modal-container .modal-slide{padding:0} .request-and-ride .modal-gallery .modal-container .modal-slide .copy{padding:15px 18px} .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3{padding-bottom:5px} .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{width:277px;height:164px;margin:0 0 20px -139px;position:relative;top:17px;left:50%;background:transparent url('../images/web-fresh/home-features-phones-mobile_1x.jpg') no-repeat left top} .request-and-ride .modal-gallery .modal-container .modal-slide .stick{display:none} .request-and-ride .modal-gallery .modal-container ul li.modal-slide.reliable-pickup .feature-image{background-position:-278px 0} .request-and-ride .modal-gallery .modal-container ul li.modal-slide.clear-pricing .feature-image{background-position:-559px 0} .request-and-ride .modal-gallery .modal-container ul li.modal-slide.cashless-convenient .feature-image{background-position:0 -168px} .request-and-ride .modal-gallery .modal-container ul li.modal-slide.feedback-matters .feature-image{background-position:-278px -168px} .request-and-ride .modal-gallery .modal-container ul li.modal-slide.split-fare .feature-image{background-position:-559px -168px} .around-the-world{min-height:620px;background:#000 url('../images/web-fresh/home/map-mobile_1x.gif') no-repeat center -70px} .around-the-world form{padding-top:90px} .around-the-world form .city-search input,.around-the-world form .city-search .city-list{width:265px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-mobile_2x.jpg') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image{background-size:834px 332px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-mobile_2x.jpg') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image{background-size:834px 332px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image{background:transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-mobile_2x.jpg') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image{background-size:834px 332px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{background:transparent url('../images/web-fresh/home-features-phones-mobile_2x.jpg') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.request-and-ride .modal-gallery .modal-container .modal-slide .feature-image{background-size:834px 332px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.around-the-world{background:#000 url('../images/web-fresh/home/map-mobile_2x.gif') no-repeat center -70px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.around-the-world{background-size:320px 610px}}.ellipses{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.pattern-bg-lite{background:#fff url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;background-size:18px 18px}
.pattern-bg-dark{background:#202024 url('../images/web-fresh/pattern-grid-dark@1x.gif') repeat left top;background-size:18px 18px}
.transition-off{webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;-webkit-backface-visibility:hidden}
.hero .hero-slide{min-height:700px}
.hero .hero-slide .headline{top:45%}
.search-holder{position:relative}
.searcher{width:100%;padding:0 20px;position:absolute;top:-95px;left:10px;z-index:3}
.searcher p{padding-top:35px;font-size:10px}
.searcher .city-search{max-width:310px}
.cities-list{min-height:500px;padding:60px 0 220px;background:#fff url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;background-size:18px 18px}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.cities-list{background:#fff url('../images/web-fresh/pattern-grid@2x.jpg') repeat left top;background-size:18px 18px}}
.cities-list .grid-locked{max-width:688px}
.cities-list .title{padding-bottom:20px;font-size:14px;color:#1ebad6;text-transform:uppercase}
.cities-list ul{padding-bottom:40px}
.cities-list li a{font-size:14px;color:#070716;line-height:28px}
.cities-list li a:hover{text-decoration:underline}
@media screen and (max-width:1000px){.hero .hero-slide .headline{top:43%} .hero .hero-slide .headline h1{line-height:70px} .searcher{width:80%}}@media screen and (max-width:500px){.hero{min-height:482px} .hero .hero-slide .headline{margin:0 20px;padding:0 5px;top:54%} .hero .hero-slide .headline h1{line-height:64px} .searcher{width:100%;top:-32px;left:0} .searcher .city-search{max-width:100%} .cities-list{padding:60px 15px 40px} .cities-list .title{text-align:center} .cities-list li a{display:inline-block;padding-bottom:5px;font-size:12px}}@media screen and (min-width:500px) and (max-width:1000px){h1{font-size:54px} h2{font-size:30px} .label{margin-bottom:10px} .site-wrapper .grid-squeezed{padding:0 15px} .controller.mini-controller{top:28px} .vehicle-fleet .sunrise-box{top:43px} .story li .overlay,.story li .headline,.story li .plus{webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;-webkit-backface-visibility:hidden} .story li:hover .overlay{top:0} .story li:hover .headline{top:0} .story li:hover .plus{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1} .highlight-boxes .boxes-grid .box>div{min-height:385px;padding:15px} .highlight-boxes .boxes-grid .box:last-child>div{border:none;position:relative;right:-1px}}@media screen and (max-width:1000px){.controller{background:none;top:98%} .controller a{margin-left:5px;padding:10px} .controller a:first-child{margin-left:0} .controller a .blue-dot{border-width:2px} .controller a.active .slide-trigger{padding:4px;background-color:#fff;border:none;top:8px;left:9px;text-indent:-5000px} .hero .hero-slide .headline .cta{display:none} .hero .hero-slide .headline p{font-size:12px}}@media screen and (min-width:500px) and (max-width:1000px){.vehicle-fleet{height:850px} .vehicle-fleet .sunrise-box{top:46px} .vehicle-fleet .content{padding:50px 0 32px} .vehicle-fleet .vehicle-info{padding-top:0} .vehicle-fleet .vehicle-info .copy{padding-top:125px} .vehicle-fleet .vehicle-info .vehicle-img{height:340px;top:-182px} .vehicle-fleet .yberx .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-1000-800_1x.png') no-repeat center top} .vehicle-fleet .taxi .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-1000-800_1x.png') no-repeat center top} .vehicle-fleet .black .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-1000-800_1x.png') no-repeat center top} .vehicle-fleet .suv .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-1000-800_1x.png') no-repeat center top} .vehicle-fleet .lux .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-1000-800_1x.png') no-repeat center top} .downloads{padding-top:20px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .yberx .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-1000-800_2x.png') no-repeat center top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .yberx .vehicle-info .vehicle-img{background-size:500px 400px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .taxi .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-1000-800_2x.png') no-repeat center top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .taxi .vehicle-info .vehicle-img{background-size:500px 400px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .black .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-1000-800_2x.png') no-repeat center top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .black .vehicle-info .vehicle-img{background-size:500px 400px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .suv .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-1000-800_2x.png') no-repeat center top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .suv .vehicle-info .vehicle-img{background-size:500px 400px}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .lux .vehicle-info .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-1000-800_2x.png') no-repeat center top}}@media screen and (min-width:500px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min--moz-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-moz-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (-ms-min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-device-pixel-ratio:2),screen and (min-width:500px) and (max-width:1000px) and (min-resolution:192dpi){.vehicle-fleet .lux .vehicle-info .vehicle-img{background-size:500px 400px}}@media screen and (max-width:500px){.yber-logo{width:90px;height:13px;background-size:90px 13px} .site-wrapper{min-height:auto} .site-wrapper .grid-squeezed{padding:0 20px} .site-wrapper>section:last-child{padding-bottom:115px} .site-wrapper.menu-showing{position:fixed;top:0;z-index:1} h1{font-size:29px} h2{font-size:20px} h3{font-size:20px} h4{font-size:18px} p,ul{font-size:11px} p{line-height:20px} .controller{top:99%} .hero{min-height:460px} .hero .hero-slide{min-height:460px;padding-top:362px;padding:60px 10px 0 10px} .hero .hero-slide .headline{top:245px} .hero .hero-slide .headline h1{padding:8px 0 4px;line-height:35px} .hero .hero-slide .headline p{padding:5px 10px;font-size:11px;line-height:16px} .hero .hero-slide img{min-height:460px} .vehicle-fleet{height:auto;padding:0 0 40px 0} .vehicle-fleet .grid-squeezed{padding:0 10px} .vehicle-fleet .bg-top{display:none} .vehicle-fleet .content{padding:0 0 20px} .vehicle-fleet .content .vehicle-slide,.vehicle-fleet .content .vehicle-slide.active{display:none} .vehicle-fleet .label{background-color:#000;color:#fff} .vehicle-fleet h3,.vehicle-fleet p{color:#000} .vehicle-fleet .mobile-nav{padding-top:20px} .vehicle-fleet .mobile-nav .vehicle-toggle{display:inline-block;width:100%;padding:13px 18px;background-color:#000;border-bottom:1px solid #666;font-size:12px;color:#fff;text-align:left;text-transform:none} .vehicle-fleet .mobile-nav .vehicle-toggle .mobile-arrow{float:right;padding-top:2px;color:#444} .vehicle-fleet .mobile-nav .vehicle-toggle .mobile-arrow.open{display:none} .vehicle-fleet .mobile-nav .data{display:none} .vehicle-fleet .mobile-nav .active .data{display:block} .vehicle-fleet .mobile-nav .active .mobile-arrow.closed{display:none} .vehicle-fleet .mobile-nav .active .mobile-arrow.open{display:inline-block} .vehicle-fleet .mobile-nav .data{background-color:#e4e4e4;position:relative} .vehicle-fleet .mobile-nav .data .sunrise-box{position:relative;top:0;height:136px;background-color:#000} .vehicle-fleet .mobile-nav .data .sunrise-box .sunrise{width:220px;height:220px;margin-top:25px;padding-top:20px;font-size:20px;color:#fff} .vehicle-fleet .mobile-nav .data .vehicle-img{width:100%;height:165px;position:absolute;top:35px;z-index:1;text-indent:-5000px} .vehicle-fleet .mobile-nav .data .info{padding:60px 20px 30px 20px;position:relative;z-index:2} .vehicle-fleet .mobile-nav .data .info h5{padding-bottom:10px;font-size:12px} .vehicle-fleet .mobile-nav .data .info p{line-height:14px} .vehicle-fleet .mobile-nav .yberx .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-x-500-400_1x.png') no-repeat center top} .vehicle-fleet .mobile-nav .taxi .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-taxi-500-400_1x.png') no-repeat center top} .vehicle-fleet .mobile-nav .black .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-black-500-400_1x.png') no-repeat center top} .vehicle-fleet .mobile-nav .suv .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-suv-500-400_1x.png') no-repeat center top} .vehicle-fleet .mobile-nav .lux .vehicle-img{background:transparent url('../images/web-fresh/vehicles/car-lux-500-400_1x.png') no-repeat center top} .gray-box-cta{margin-bottom:40px;padding:10px;text-align:center} .gray-box-cta h4{display:inline-block;height:auto;padding:10px 10px 15px;font-size:14px} .gray-box-cta .cta{float:none} .gray-box-cta .cta p{display:inline-block;width:100%;height:auto} .gray-box-cta .cta p a{display:inline-block;width:100%;padding:10px} .highlight-boxes .boxes-grid .box div{min-height:0;padding:15px 30px 45px;border-right:none;border-bottom:1px dashed #898989} .highlight-boxes .boxes-grid .box div .icon{padding:15px 0 25px} .highlight-boxes .boxes-grid .box:last-child div{border-bottom:none} .story{padding:20px 10px} .story li{overflow:hidden} .story li .overlay,.story li .headline,.story li .plus{webkit-transition:none !important;-moz-transition:none !important;-o-transition:none !important;transition:none !important;-webkit-backface-visibility:hidden} .story li:hover .headline,.story li:hover .overlay,.story li:hover .p{top:0} .story li>div{min-height:150px} .story li .title-box{height:150px} .story li p{font-size:15px} .city-search .city-list{width:270px} .error-page .heading,.zero-tolerance .heading{padding:150px 0 50px} .country-input{position:absolute;top:7px}}.global-header{width:100%;padding:38px 20px 20px 20px;position:fixed;top:0;z-index:5;line-height:10px;color:#fff;background-color:rgba(0,0,0,0.2);border-bottom:1px solid #adadad}
.global-header p{line-height:10px}
.global-header a{color:#fff;font-size:12px;text-transform:uppercase}
.global-header .menu{position:relative}
.global-header .menu .menu-text{padding-left:38px}
.global-header .menu .icon-menu{display:inline-block;padding:25px 70px 25px 10px;position:absolute;top:-22px;font-size:18px;line-height:9px}
.global-header .yber-logo{position:relative;top:-9px;text-align:center}
.global-header .actions{text-align:right}
.global-header .actions a{padding:5px 12px}
.global-header .actions .icon-avatar{font-size:15px}
.global-header.down-page{background-color:rgba(0,0,0,0.5)}
.global-header.down-page:hover{background-color:rgba(0,0,0,0.8)}
.light .global-header :not(.btn){color:#000}
.light .global-header.down-page a,.light .global-header.down-page p,.light .global-header.down-page .icon-menu,.light .global-header.down-page .menu-text{color:#fff}
.global-header-focused{display:none}
.light .yber-logo{background:transparent url('../images/web-fresh/global/logo-web-dark_1x.png') no-repeat left top;background-size:167px 23px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.light .yber-logo{background:transparent url('../images/web-fresh/global/logo-web-dark_2x.png') no-repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.light .yber-logo{background-size:166px 22px}}.global-nav-overlay{display:none;width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;background-color:rgba(0,0,0,0.7);cursor:pointer}
.global-nav-overlay.active{display:block}
.global-nav{display:none;width:285px;height:100%;background:#202024 url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;background-size:18px 18px;position:fixed;top:0;left:0;color:#fff}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.global-nav{background:#202024 url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.global-nav{background-size:18px 18px}}.global-nav a{font-size:12px;color:#fff;text-transform:uppercase}
.global-nav .close span{padding-right:8px;font-size:16px;color:#3a753e}
.global-nav .muted{color:#c2c2c2}
.global-nav .actions{padding:35px 25px 20px 20px}
.global-nav .actions .signin,.global-nav .actions .signout{text-align:right}
.global-nav .actions .signup{margin:18px 0 0;padding:16px;background-color:#3a753e;font-size:14px;color:#fff;text-align:center}
.global-nav .actions .hello{margin:18px 0 6px}
.global-nav .actions .hello,.global-nav .actions .dashboard{font-size:12px}
.global-nav .primary{margin-bottom:20px;border-bottom:1px solid #636366}
.global-nav .primary a{display:block;padding:0 20px;border-top:1px solid #636366;font-size:15px;line-height:45px}
.global-nav .primary a:active,.global-nav .primary a:hover,.global-nav .primary.home .home,.global-nav .primary.cities .cities,.global-nav .primary.drivers .drivers{background-color:rgba(255,255,255,0.05);color:#3a753e}
.global-nav .secondary>p{display:block;padding:5px 20px 0;line-height:21px}
.global-nav .secondary>p:hover a{color:#3a753e}
.global-nav .language-picker{padding:20px 30px 20px 20px;position:relative}
.global-nav .language-picker label{font-size:12px;color:#c2c2c2;text-transform:uppercase}
.global-nav .language-picker select{display:block;width:100%;margin-top:5px;padding:8px;background-color:#000;border:2px solid #3a753e;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:12px;color:#fff;text-transform:uppercase;-webkit-appearance:none;cursor:pointer}
.global-nav .language-picker .dd-arrow{position:absolute;right:42px;top:59px;font-size:11px;color:#3a753e}
.global-nav .downloads{padding:8px 32px 16px;border-top:1px solid #636366;position:absolute;bottom:0}
.global-nav .downloads .apple-store,.global-nav .downloads .google-play{border:1px solid #fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.global-nav .downloads .apple-store{margin-right:22px}
.global-nav .downloads .apple-phone,.global-nav .downloads .google-phone{width:84px;height:110px;margin-left:5px;background:transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat 5px -93px;position:absolute;top:-110px}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.global-nav .downloads .apple-phone,.global-nav .downloads .google-phone{background:transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat 5px -93px}}@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(-moz-min-device-pixel-ratio:2),(-ms-min-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:192dpi){.global-nav .downloads .apple-phone,.global-nav .downloads .google-phone{background-size:690px 264px}}.global-nav .downloads .google-phone{right:40px;background-position:-80px -93px}
.global-nav.open{display:block}
.focused .global-nav{display:none}
@media screen and (max-width:1000px) and (min-width:500px){.global-header .menu .icon-menu{top:-23px}}@media screen and (max-width:500px){.global-nav{position:absolute;background:none} .global-header{padding:18px 0 18px 5px} .global-header .menu{padding-top:2px} .global-header .menu .icon-menu{padding:0;position:static;top:0} .global-header .actions{position:relative;left:-7px} .global-header .actions a{padding:5px 8px;border-width:1px} .global-header .yber-logo{width:90px;height:13px;top:0;background:transparent url('../images/web-fresh/global/logo-mobile-light_1x.png') no-repeat left top;background-size:90px 13px} .light .global-header .yber-logo{width:90px;height:13px;background:transparent url('../images/web-fresh/global/logo-mobile-dark_1x.png') no-repeat left top;background-size:90px 13px} .actions .btn{padding:6px 8px;font-size:7px} .global-nav .actions{padding:0 25px 19px 20px} .global-nav .actions .hello{margin:18px 0 0} .global-nav .actions .dashboard{margin-bottom:8px} .global-nav .primary{margin-bottom:17px} .global-nav .primary a{padding:5px 20px} .global-nav .secondary>p{padding-top:12px;padding-bottom:4px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.global-header .yber-logo{background:transparent url('../images/web-fresh/global/logo-mobile-light_2x.png') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.global-header .yber-logo{background-size:90px 12px}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.light .global-header .yber-logo{background:transparent url('../images/web-fresh/global/logo-mobile-dark_2x.png') no-repeat left top}}@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:2),screen and (max-width:500px) and (min--moz-device-pixel-ratio:2),screen and (max-width:500px) and (-moz-min-device-pixel-ratio:2),screen and (max-width:500px) and (-ms-min-device-pixel-ratio:2),screen and (max-width:500px) and (min-device-pixel-ratio:2),screen and (max-width:500px) and (min-resolution:192dpi){.light .global-header .yber-logo{background-size:90px 12px}}.global-footer{height:145px;padding-top:12px;position:relative;background-color:#000}
.global-footer .social{padding:40px 15px;text-align:left}
.global-footer .social a{margin-right:5px;padding:8px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;font-size:12px;border:1px solid #fff;color:#fff}
.global-footer .social a:hover{border-color:#000;background-color:#fff;color:#000}
.global-footer .navs{text-align:center;text-transform:uppercase}
.global-footer .navs .current-lng{display:inline-block;padding-top:14px}
.global-footer .navs .language-picker{text-align:center}
.global-footer .navs .language-picker select{padding:10px 0 0 0;-webkit-appearance:none;background-color:transparent;border:none;outline:none;position:relative;left:0;top:-36px;text-indent:-5000px}
.global-footer .sign-up{padding:7px 25px;background-color:#3a753e;position:relative;top:-23px;font-size:14px;color:#fff}
.global-footer .primary{padding-top:10px;color:#fff}
.global-footer .primary a{padding:0 15px;font-size:15px;color:#fff}
.global-footer .secondary a{padding:0 10px;font-size:10px;color:#c2c2c2}
.global-footer .downloads a{border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.light-foot .global-footer{background-color:#fff}
.light-foot .global-footer .primary,.light-foot .global-footer .primary a{color:#000}
.light-foot .global-footer .secondary a{color:#999}
.light-foot .global-footer .social a{border:none;background-color:#000;border:1px solid transparent;color:#fff}
.light-foot .global-footer .social a:hover{background-color:#fff;color:#000;border:1px solid #000}
@media screen and (max-width:500px){.global-footer{min-height:145px;text-align:center} .global-footer .sign-up{margin:0 25px;padding:14px 40px;top:-36px;font-size:16px} .global-footer .social{padding:10px;text-align:center} .global-footer .social a{margin:0 16px;padding:16px;-webkit-border-radius:24px;-moz-border-radius:24px;border-radius:24px;border:2px solid #fff;color:#fff} .global-footer .social a:last-child{margin-right:none}}
