@import "less/common/variables";
@import "less/common/normalise";
@import "less/common/yui";
@import "less/common/retina";

.transition-off {
  webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-backface-visibility: hidden;
}

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@import "less/common/icons";
@import "less/common/global";

/*
 * A focused view covers all header and footer information to focus the user
 * on the task at hand. An example of this is the sign up page.
 */
.focused .global-footer,
.focused .global-header {
  display: none;
}

.focused .site-wrapper {
  margin: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
li,
select,
option,
input,
button,
label {
  font-family: "ff-clan-web-pro-wide", sans-serif;
  font-weight: normal;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 96px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 26px;
  font-weight: 100;
}

h5 {
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

p,
ul {
  font-size: 14px;
}

p {
  line-height: 27px;
}

a {
  font-size: 10px;
  color: @primary;
  text-transform: uppercase;
  text-decoration: none;
}

label {
  cursor: pointer;
}

.section-dark {
  color: @white;
}

.section-light {
  background: @white;
  color: @black;
}

.btn {
  padding: 5px 8px;
  border: 2px solid @primary;
  background-color: @primary-background;
  color: @white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-filled {
  background-color: @primary;
}

.btn-filled:hover {
  background-color: @primary-border;
  border-color: @primary-border;
}

.btn-false {
  font-size: 100%;
}

.muted {
  color: #c4c4c4;
}

.block-center {
  margin: 0 auto;
  display: block;
}

.middle {
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*
 * .false-table .false-table-cell
 * used to get vertical align working across grid elements
 */
.false-table {
  display: table;
}

.false-table-cell {
  display: table-cell;
}

/*
 * div.border-center span
 * used to surround text within the span
 * with horizontal lines
 */
.border-center {
  margin-bottom: 12px;
}

.border-center > span {
  display: inline-block;
  padding: 0 20px;
  background: @primary-background;
}

.border-center:after {
  background: #53535C;
  content: "";
  display: block;
  height: 1px;
  margin-top: -12px;
}

.label {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px 10px;
  background-color: @black;
  font-size: 10px;
  font-weight: 500;
  color: @white;
  text-transform: uppercase;
  line-height: 23px;
  letter-spacing: 1px;
}

.label.inverted {
  background-color: @white;
  color: @black;
}

.label.reverted {
  background-color: @white;
  border: 1px solid @black;
  color: @black;
}

.downloads {
  padding: 36px 15px 0px;
  text-align: right;
}

.downloads a {
  display: inline-block;
  width: 96px;
  height: 28px;
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat left top;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .downloads a {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .downloads a {
    background-size: 690px 264px;
  }
}

.downloads a.google-play {
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat left -30px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .downloads a.google-play {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat left -30px;
    background-size: 690px 264px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .l-center {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .m-center {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .s-center {
    text-align: center;
  }
}

/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Objects and abstractions
 */
.media,
.island,
.islet {
  margin-bottom: 22.4px;
  margin-bottom: 1.4rem;
}

/**
 * Doubled up `margin-bottom` helper class.
 */
.landmark {
  margin-bottom: 44.8px;
  margin-bottom: 2.8rem;
}

.vertical-rhythm {
  /**
   * Base elements
   */

  /**
   * `hr` elements only take up a few pixels, so we need to give them special
   * treatment regarding vertical rhythm.
   */

  /**
   * Where `margin-left` is concerned we want to try and indent certain elements
   * by a consistent amount. Define that amount once, here.
   */

}

.vertical-rhythm h1,
.vertical-rhythm h2,
.vertical-rhythm h3,
.vertical-rhythm h4,
.vertical-rhythm h5,
.vertical-rhythm h6,
.vertical-rhythm hgroup,
.vertical-rhythm ul,
.vertical-rhythm ol,
.vertical-rhythm dl,
.vertical-rhythm blockquote,
.vertical-rhythm p,
.vertical-rhythm address,
.vertical-rhythm table,
.vertical-rhythm fieldset,
.vertical-rhythm figure {
  margin-bottom: 22.4px;
  margin-bottom: 1.4rem;
}

.vertical-rhythm hr {
  margin-bottom: 20.4px;
  margin-bottom: 1.275rem;
}

.vertical-rhythm ul,
.vertical-rhythm ol,
.vertical-rhythm dd {
  margin-left: 44.8px;
  margin-left: 2.8rem;
}

.yber-logo,
.light .down-page .yber-logo {
  display: inline-block;
  width: 167px;
  height: 23px;
  background: transparent url('../images/web-fresh/global/logo-web-light_1x.png') no-repeat left top;
  background-size: 167px 23px;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .yber-logo,
  .light .down-page .yber-logo {
    background: transparent url('../images/web-fresh/global/logo-web-light_2x.png') no-repeat left top;
    background-size: 166px 22px;
  }
}

/**
 * Styling for pages without headers/footers
 * http://local.www.yber.com:3000/log-in
 */
.focused-view {
  margin: 20px;
  padding: 90px 180px;
  border: 5px solid @primary;
}

.focused-view-subtitle {
  font-size: 17px;
  color: #c2c2c2;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .focused-view {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 500px) {
  .focused-view {
    padding: 10px 10px;
    border: 0;
  }
}

@import "less/common/forms";
.flag-dropdown {
  position: relative;
}

.flag-image {
  display: none;
  z-index: 1;
  position: absolute;
  top: 12px;
  right: 9px;
  width: 32px;
  height: 28px;
  border: none;
  background: url('../images/web-fresh/forms/flags_2x.png') 0 -7330px no-repeat;
}



/* Do not remove without talking with dustin@yber.com */
.verylux {
  display: none;
  width: 385px;
  height: 181px;
  position: absolute;
  bottom: 0px;
  left: -400px;
  z-index: 999;
  background: transparent url("../images/web-fresh/vehicles/car-w-500-400_1x.png") no-repeat left top;
}

/*
 * Controllers
 * These are the pretty little lines with dots in the middle that indicate
 * playback and positioning in a gallery.
 */
.controller {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 85%;
  z-index: 3;
  color: @white;
  line-height: 0px;
  text-align: center;
}

.controller a {
  display: inline-block;
  min-height: 25px;
  margin-left: 12px;
  padding: 28px;
  position: relative;
  top: -32px;
}

.controller a .blue-dot {
  display: inline-block;
  margin: 0;
  border: 5px solid @primary;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.controller a:first-child {
  margin-left: 0;
}

.controller a.active .blue-dot {
  border-color: #cccccc;
}

/*
 * Hero Highlights
 * These are the three black boxes that rest below and overlapping
 * hero images. These can be found on Jobs landing, drivers.
 */
.highlight-boxes {
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .highlight-boxes {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .highlight-boxes {
    background-size: 18px 18px;
  }
}

.highlight-boxes .boxes-grid {
  position: relative;
  top: -88px;
}

.highlight-boxes .boxes-grid .box > div {
  min-height: 350px;
  padding: 15px 45px;
  background-color: @primary-background;
  border-right: 1px dashed #898989;
  color: @white;
  text-align: center;
}

.highlight-boxes .boxes-grid .box > div h4 {
  padding-bottom: 15px;
}

.highlight-boxes .boxes-grid .box > div p {
  color: #c2c2c2;
}

.highlight-boxes .boxes-grid .box > div .icon {
  padding: 30px 0 25px;
  font-size: 30px;
  color: @primary;
}

.highlight-boxes .boxes-grid .box:last-child > div {
  border-right: none;
}

/*
 * Gray Box CTA
 */
.gray-box-cta {
  padding: 50px;
  background-color: #f1f1f1;
}

.gray-box-cta h4 {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}

.gray-box-cta .cta {
  float: right;
}

.gray-box-cta .cta p {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}

.gray-box-cta .cta a {
  padding: 20px 60px;
  background-color: @primary;
  font-size: 14px;
  color: @white;
  text-transform: uppercase;
}



/*
 * 404 error page
 */
.error-page .heading,
.zero-tolerance .heading {
  padding: 250px 0;
  text-align: center;
  color: @white;
}

.error-page .heading a,
.zero-tolerance .heading a {
  font-size: 14px;
  text-transform: none;
}

.error-page .heading a:hover,
.zero-tolerance .heading a:hover {
  text-decoration: underline;
}

@import "less/home/home";
@import "less/cities/cities";
@import "less/sign-in";
.signup-container {
  @import "less/sign-up";
}
@import "less/legal";
@import "less/about";
@import "less/drivers";



/* TODO - Why is this defined twice? Combine */
@media screen and (min-width: 500px) and (max-width: 1000px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 30px;
  }

  .label {
    margin-bottom: 10px;
  }

  .site-wrapper .grid-squeezed {
    padding: 0 15px;
  }

  .controller.mini-controller {
    top: 28px;
  }

  .vehicle-fleet .sunrise-box {
    top: 43px;
  }

  .story li .overlay,
  .story li .headline,
  .story li .plus {
    webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-backface-visibility: hidden;
  }

  .story li:hover .overlay {
    top: 0px;
  }

  .story li:hover .headline {
    top: 0px;
  }

  .story li:hover .plus {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
  }

  .highlight-boxes .boxes-grid .box > div {
    min-height: 385px;
    padding: 15px;
  }

  .highlight-boxes .boxes-grid .box:last-child > div {
    border: none;
    position: relative;
    right: -1px;
  }

}

@media screen and (max-width: 1000px) {
  .controller {
    background: none;
    top: 98%;
  }

  .controller a {
    margin-left: 5px;
    padding: 10px;
  }

  .controller a:first-child {
    margin-left: 0px;
  }

  .controller a .blue-dot {
    border-width: 2px;
  }

  .controller a.active .slide-trigger {
    padding: 4px;
    background-color: @white;
    border: none;
    top: 8px;
    left: 9px;
    text-indent: -5000px;
  }

  .hero .hero-slide .headline .cta {
    display: none;
  }

  .hero .hero-slide .headline p {
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .vehicle-fleet {
    height: 850px;
  }

  .vehicle-fleet .sunrise-box {
    top: 46px;
  }

  .vehicle-fleet .content {
    padding: 50px 0 32px;
  }

  .vehicle-fleet .vehicle-info {
    padding-top: 0px;
  }

  .vehicle-fleet .vehicle-info .copy {
    padding-top: 125px;
  }

  .vehicle-fleet .vehicle-info .vehicle-img {
    height: 340px;
    top: -182px;
  }

  .vehicle-fleet .yberx .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-x-1000-800_1x.png') no-repeat center top;
  }

  .vehicle-fleet .taxi .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-taxi-1000-800_1x.png') no-repeat center top;
  }

  .vehicle-fleet .black .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-black-1000-800_1x.png') no-repeat center top;
  }

  .vehicle-fleet .suv .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-suv-1000-800_1x.png') no-repeat center top;
  }

  .vehicle-fleet .lux .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-lux-1000-800_1x.png') no-repeat center top;
  }

  .downloads {
    padding-top: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .yberx .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-x-1000-800_2x.png') no-repeat center top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .yberx .vehicle-info .vehicle-img {
    background-size: 500px 400px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .taxi .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-taxi-1000-800_2x.png') no-repeat center top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .taxi .vehicle-info .vehicle-img {
    background-size: 500px 400px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .black .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-black-1000-800_2x.png') no-repeat center top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .black .vehicle-info .vehicle-img {
    background-size: 500px 400px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .suv .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-suv-1000-800_2x.png') no-repeat center top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .suv .vehicle-info .vehicle-img {
    background-size: 500px 400px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .lux .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-lux-1000-800_2x.png') no-repeat center top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .vehicle-fleet .lux .vehicle-info .vehicle-img {
    background-size: 500px 400px;
  }
}

@media screen and (max-width: 500px) {
  .yber-logo {
    width: 90px;
    height: 13px;
    background-size: 90px 13px;
  }

  .site-wrapper {
    min-height: auto;
  }

  .site-wrapper .grid-squeezed {
    padding: 0px 20px;
  }

  .site-wrapper > section:last-child {
    padding-bottom: 115px;
  }

  .site-wrapper.menu-showing {
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  h1 {
    font-size: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p,
  ul {
    font-size: 11px;
  }

  p {
    line-height: 20px;
  }

  .controller {
    top: 99%;
  }

  .hero {
    min-height: 460px;
  }

  .hero .hero-slide {
    min-height: 460px;
    padding-top: 362px;
    padding: 60px 10px 0 10px;
  }

  .hero .hero-slide .headline {
    top: 245px;
  }

  .hero .hero-slide .headline h1 {
    padding: 8px 0 4px;
    line-height: 35px;
  }

  .hero .hero-slide .headline p {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 16px;
  }

  .hero .hero-slide img {
    min-height: 460px;
  }

  .vehicle-fleet {
    height: auto;
    padding: 0 0 40px 0;
  }

  .vehicle-fleet .grid-squeezed {
    padding: 0px 10px;
  }

  .vehicle-fleet .bg-top {
    display: none;
  }

  .vehicle-fleet .content {
    padding: 0 0 20px;
  }

  .vehicle-fleet .content .vehicle-slide,
  .vehicle-fleet .content .vehicle-slide.active {
    display: none;
  }

  .vehicle-fleet .label {
    background-color: @black;
    color: @white;
  }

  .vehicle-fleet h3,
  .vehicle-fleet p {
    color: @black;
  }

  .vehicle-fleet .mobile-nav {
    padding-top: 20px;
  }

  .vehicle-fleet .mobile-nav .vehicle-toggle {
    display: inline-block;
    width: 100%;
    padding: 13px 18px;
    background-color: @primary-background;
    border-bottom: 1px solid #666;
    font-size: 12px;
    color: @white;
    text-align: left;
    text-transform: none;
  }

  .vehicle-fleet .mobile-nav .vehicle-toggle .mobile-arrow {
    float: right;
    padding-top: 2px;
    color: #444;
  }

  .vehicle-fleet .mobile-nav .vehicle-toggle .mobile-arrow.open {
    display: none;
  }

  .vehicle-fleet .mobile-nav .data {
    display: none;
  }

  .vehicle-fleet .mobile-nav .active .data {
    display: block;
  }

  .vehicle-fleet .mobile-nav .active .mobile-arrow.closed {
    display: none;
  }

  .vehicle-fleet .mobile-nav .active .mobile-arrow.open {
    display: inline-block;
  }

  .vehicle-fleet .mobile-nav .data {
    background-color: #e4e4e4;
    position: relative;
  }

  .vehicle-fleet .mobile-nav .data .sunrise-box {
    position: relative;
    top: 0px;
    height: 136px;
    background-color: @black;
  }

  .vehicle-fleet .mobile-nav .data .sunrise-box .sunrise {
    width: 220px;
    height: 220px;
    margin-top: 25px;
    padding-top: 20px;
    font-size: 20px;
    color: @white;
  }

  .vehicle-fleet .mobile-nav .data .vehicle-img {
    width: 100%;
    height: 165px;
    position: absolute;
    top: 35px;
    z-index: 1;
    text-indent: -5000px;
  }

  .vehicle-fleet .mobile-nav .data .info {
    padding: 60px 20px 30px 20px;
    position: relative;
    z-index: 2;
  }

  .vehicle-fleet .mobile-nav .data .info h5 {
    padding-bottom: 10px;
    font-size: 12px;
  }

  .vehicle-fleet .mobile-nav .data .info p {
    line-height: 14px;
  }

  .vehicle-fleet .mobile-nav .yberx .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-x-500-400_1x.png') no-repeat center top;
  }

  .vehicle-fleet .mobile-nav .taxi .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-taxi-500-400_1x.png') no-repeat center top;
  }

  .vehicle-fleet .mobile-nav .black .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-black-500-400_1x.png') no-repeat center top;
  }

  .vehicle-fleet .mobile-nav .suv .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-suv-500-400_1x.png') no-repeat center top;
  }

  .vehicle-fleet .mobile-nav .lux .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-lux-500-400_1x.png') no-repeat center top;
  }

  .gray-box-cta {
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
  }

  .gray-box-cta h4 {
    display: inline-block;
    height: auto;
    padding: 10px 10px 15px;
    font-size: 14px;
  }

  .gray-box-cta .cta {
    float: none;
  }

  .gray-box-cta .cta p {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  .gray-box-cta .cta p a {
    display: inline-block;
    width: 100%;
    padding: 10px;
  }

  .highlight-boxes .boxes-grid .box div {
    min-height: 0;
    padding: 15px 30px 45px;
    border-right: none;
    border-bottom: 1px dashed #898989;
  }

  .highlight-boxes .boxes-grid .box div .icon {
    padding: 15px 0 25px;
  }

  .highlight-boxes .boxes-grid .box:last-child div {
    border-bottom: none;
  }

  .story {
    padding: 20px 10px;
  }

  .story li {
    overflow: hidden;
  }

  .story li .overlay,
  .story li .headline,
  .story li .plus {
    webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-backface-visibility: hidden;
  }

  .story li:hover .headline,
  .story li:hover .overlay,
  .story li:hover .p {
    top: 0px;
  }

  .story li > div {
    min-height: 150px;
  }

  .story li .title-box {
    height: 150px;
  }

  .story li p {
    font-size: 15px;
  }

  .city-search .city-list {
    width: 270px;
  }

  .error-page .heading,
  .zero-tolerance .heading {
    padding: 150px 0 50px;
  }

  .country-input {
    position: absolute;
    top: 7px;
  }
}


@import "less/common/header";
@import "less/common/footer";

