<footer class="global-footer js-global-footer yui3-g">
    <div class="grid-locked">

        <a href = "#"
           class="sign-up yui3-u-1 res-l-hidden res-m-hidden ga-click-track js-signup-or-dl-cta"
           data-ga="global-footer.download-mobile">
            Download yber
        </a>

        <article class="social yui3-u-1-4 yui3-u-s-1">
            <a href = "#" target="_blank" class="icon icon-facebook ga-click-track"
               data-ga="global-footer.facebook-button-click"></a>
            <a href = "#" target="_blank" class="icon icon-twitter ga-click-track"
               data-ga="global-footer.twitter-button-click"></a>
            <a href = "#" target="_blank"
               class="icon icon-linkedin_box ga-click-track" data-ga="global-footer.linkedin-button-click"></a>
        </article>

        <article class="navs yui3-u-1-2 res-s-hidden">
            <a href = "#" class="sign-up ga-click-track js-signup-or-dl-cta"
               data-ga="global-footer.sign-up-button-web-click"> Sign up for yber </a>
            <nav class="primary">
                <a href = "#" class="ga-click-track" data-ga="global-footer.home-button-click">
                    Home </a>
                <span>&bull;</span>
                <a href = "#" class="ga-click-track" data-ga="global-footer.cities-button-click">
                    Cities </a>
                <span>&bull;</span>
                <a href = "#" class="ga-click-track" data-ga="global-footer.drivers-button-click">
                    Drivers </a>
            </nav>
            <nav class="secondary">
                <a href = "#" class="ga-click-track" data-ga="global-footer.about-button-click">
                    About Us </a>
                <a href = "#" target="_blank">
                    Help Center
                </a>
                <a href = "#" class="ga-click-track"
                   data-ga="global-footer.jobs-button-click">
                    Careers
                </a>
                <a href = "#" target="_blank">
                    Blog
                </a>
            </nav>


        </article>

        <article class="downloads yui3-u-1-4 res-s-hidden">
            <a href = "#"
               target="_blank" class="apple-store ir ga-click-track"
               data-ga="global-footer.apple-store-button-click">Apple Store</a>
            <a href = "#"
               target="_blank" class="google-play ir ga-click-track"
               data-ga="global-footer.google-play-button-click">Google Play Store</a>
        </article>

    </div>
</footer>
