<div class="global-nav-overlay js-global-nav-overlay"></div>
<div class="head-fade"></div>

<header class="global-header js-global-header">
    <div class="pull-left">
        <a href="#" class="menu js-menu">
            <span class="icon-menu"></span>
            <span class="menu-text res-s-hidden">Menu</span>
        </a>
    </div>

    <p class="pull-left actions res-s-hidden">


        <a href="#" class="ga-click-track"
           data-ga="global-header.login-button-click">
            Log In
        </a>

        <a href="#" class="btn ga-click-track js-signup-or-dl-cta"
           data-ga="global-header.sign-up-button-click">
            Sign Up
        </a>

    </p>

    <p class="pull-right actions res-m-hidden res-l-hidden">
        <a href="#" class="btn ga-click-track js-signup-or-dl-cta"
           data-ga="global-header.download-mobile">
            Download
        </a>
    </p>

    <div class="yui3-u-1-3 center block-center">
        <a href="index.html" class="yber-logo ir ga-click-track"
           data-ga="global-header.logo-click">yber</a>
    </div>

</header>