<nav class="global-nav js-global-nav">

    <div class="actions yui3-g">
        <a href="#" class="close js-menu yui3-u-1-2 res-s-hidden">
            <span class="icon-close"></span>
        </a>

        <a href="#" class="signin yui3-u-1-2 res-s-hidden">
            Log In
        </a>
        <a href="#" class="signup yui3-u-1">
            Sign up
        </a>

    </div>

    <p class="primary">
        <a class="home" href="#">
            Home
        </a>
        <a class="cities" href="#">
            Our Cities
        </a>
        <a class="drivers" href="#">
            Your Drivers
        </a>
    </p>

    <div class="secondary">
        <p><a href="#">About Us</a></p>

        <p><a href="#" target="_blank">Help Center</a></p>

        <p><a href="#">Careers</a></p>

        <p><a href="#">Legal</a></p>

        <p><a href="#" target="_blank">Blog</a></p>

        <p><a href="#" target="_blank">Be A Driver</a></p>

        <p>

            <a href="#" class="res-m-hidden res-l-hidden">
                Log In
            </a>

        </p>
    </div>


</nav>