@import "common/variables";

.hero .hero-slide .headline {
  top: 45%;
}

.intro {
  position: relative;
  top: -125px;
  z-index: 2;
}

.intro .copy {
  margin: 0 100px;
  padding: 40px 100px 10px;
  background-color: @primary-background;
  color: @white;
}

.intro .copy p {
  margin-bottom: 40px;
}

.team {
  padding-bottom: 50px;
  background: @white url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
  position: relative;
  top: -75px;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .team {
    background: @white url('../images/web-fresh/pattern-grid@2x.jpg') repeat left top;
    background-size: 18px 18px;
  }
}

.top-margin {
  margin-top: 20px;
}

.bottom-margin {
  margin-bottom: 40px;
}

.bold-stretch {
  font-weight: bold;
  letter-spacing: 3px;
}

.title {
  text-transform: uppercase;
  font-size: 10px;
  color: @Aqua;
}

.bio {
  text-align: left;
}

.investors {
  background-color: @primary-background;
  position: relative;
  top: -75px;
  text-align: center;
  padding: 10px 50px 80px;
}

.white-label {
  margin: 40px 0px;
  background-color: @white;
  color: @black;
  font-weight: bold;
}

.contact {
  padding-bottom: 80px;
}

.contact .contact_info {
  margin: 0 40px 80px;
  padding: 40px 0px 40px;
  border-radius: 6px;
  background-color: @white;
}

.contact .contact_info p,
.contact .contact_info a {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .intro {
    top: -110px;
  }

  .intro .copy {
    margin: 0 10px;
    padding: 25px 50px 2px;
  }

  .team {
    top: -60px;
  }

  .contact .contact_info p,
  .contact .contact_info a {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    top: -110px;
  }

  .intro .copy {
    margin: 0;
    padding: 25px 30px 2px;
  }

  .contact .contact_info {
    margin: 0 5px 50px;
    padding: 40px 28px;
  }

  .contact .contact_info p,
  .contact .contact_info a {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .team {
    top: -60px;
  }
}