@import "common/variables";

.hero .hero-slide .headline {
  top: 45%;
}

.driver-stories {
  padding-top: 80px;
  background: @white url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .driver-stories {
    background: @white url('../images/web-fresh/pattern-grid@2x.jpg') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .driver-stories {
    background-size: 18px 18px;
  }
}

.driver-stories h3 {
  padding-bottom: 50px;
}

.driver-stories .story {
  padding: 20px 20px 20px 160px;
  position: relative;
  text-align: left;
}

.driver-stories .story img {
  position: absolute;
  left: 20px;
  top: 20px;
}

.driver-stories .story .driver-image {
  width: 120px;
  height: 120px;
}

.driver-stories .story .star-rating {
  padding: 0 4px;
  background-color: @black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 28px;
  right: 24px;
  font-size: 11px;
  color: @white;
  line-height: 20px;
}

.driver-stories .story .star-rating span {
  padding-left: 3px;
}

.driver-cta {
  padding: 100px 100px 185px;
  background: @white url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .driver-cta {
    background: @white url('../images/web-fresh/pattern-grid@2x.jpg') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .driver-cta {
    background-size: 18px 18px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .driver-stories {
    padding-top: 45px;
  }

  .driver-stories .story {
    padding-bottom: 42px;
  }

  .driver-stories .story .star-rating {
    top: auto;
    right: auto;
    bottom: 32px;
    left: 57px;
  }

  .driver-cta .come-drive {
    padding: 20px;
  }

  .driver-cta .come-drive h4 {
    font-size: 17px;
  }

  .driver-cta .come-drive .cta a {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 500px) {
  .hero .our-drivers .headline {
    top: 60%;
  }

  .driver-highlights .driver-boxes .box {
    border: none;
    border-bottom: 1px dashed @Gray60;
  }

  .driver-highlights .driver-boxes .box:last-child {
    border-bottom: none;
  }

  .driver-stories {
    padding-top: 54px;
  }

  .driver-stories h3 {
    padding-bottom: 5px;
  }

  .driver-stories .story {
    padding: 20px;
  }

  .driver-stories .story img {
    margin: 0 0 20px -60px;
    position: relative;
    top: 0px;
    left: 50%;
  }

  .driver-stories .story p {
    font-size: 11px;
  }

  .driver-stories .story .star-rating {
    top: 160px;
  }

  .driver-cta {
    padding: 20px 20px 100px;
  }
}