@import "common/variables";

.legal-page {
  padding: 160px 110px 60px 110px;
}

.legal-page p {
  padding-bottom: 30px;
}

.legal-page a {
  font-size: inherit;
  text-transform: none;
}

.legal-page a:hover {
  text-decoration: underline;
}

.legal-page .pop {
  font-weight: bold;
  text-transform: uppercase;
}

.legal-page h1 {
  padding-bottom: 40px;
  text-align: center;
  text-shadow: none;
}

.legal-page h5 {
  padding-bottom: 15px;
}

.legal-page ul,
.legal-page ol {
  padding-bottom: 30px;
  list-style-position: outside;
}

.legal-page ul li,
.legal-page ol li {
  font-family: "ff-clan-web-pro-wide", sans-serif;
}

.legal-page ul > li,
.legal-page ol > li {
  margin-left: 45px;
  padding-bottom: 8px;
}

.legal-page ol {
  padding-top: 10px;
}

.legal-page ol li ol {
  padding-bottom: 10px;
}

.legal-page ol li ol li {
  margin-left: 20px;
  font-size: 12px;
  list-style-type: lower-alpha;
}

.legal-page .legal-nav {
  padding-bottom: 30px;
}

.legal-page .legal-nav p {
  padding: 0 2px;
  text-align: center;
}

.legal-page .legal-nav p a {
  display: block;
  padding: 5px 0px;
  background-color: @white;
  font-size: 12px;
  color: @primary-background;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.legal-page .legal-nav.terms .terms a,
.legal-page .legal-nav.privacy .privacy a,
.legal-page .legal-nav.copyright .copyright a {
  background-color: @primary-background;
  color: @white;
}

.legal-page .legal-nav.terms .terms a:hover,
.legal-page .legal-nav.privacy .privacy a:hover,
.legal-page .legal-nav.copyright .copyright a:hover {
  cursor: default;
  text-decoration: none;
}

.legal-page .legal-head {
  padding-bottom: 20px;
}

.legal-page .legal-head form {
  padding: 5px 0 10px;
  text-align: right;
  position: relative;
}

.legal-page .legal-head form input,
.legal-page .legal-head form select {
  padding: 18px 80px 18px 12px;
  border: 1px solid @primary-background;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-appearance: none;
}

.legal-page .legal-head form input option,
.legal-page .legal-head form select option {
  background-color: @white;
}

.legal-page .legal-head form .dd-btn {
  padding: 14px 15px 8px;
  position: absolute;
  right: 4px;
  top: 9px;
  background-color: @primary-background;
}

.legal-page .legal-head form .dd-btn:hover {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .legal-page {
    padding: 0 10px 50px 10px;
  }

  .legal-page h1 {
    padding: 100px 0px 20px;
  }
}

@media screen and (max-width: 500px) {
  .legal-page {
    padding: 0 10px 50px 10px;
  }

  .legal-page .legal-nav p {
    padding-bottom: 3px;
  }

  .legal-page .legal-head p {
    padding-bottom: 10px;
  }

  .legal-page .legal-head form select {
    width: 100%;
  }

  .legal-page h1 {
    padding: 70px 0px 20px;
  }

  .global-footer .sign-up {
    top: -60px;
  }
}