@import "common/variables";

.focused-view {
  padding: 38px 0 0;
  border: 0;
}

.focused-view-subtitle {
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .focused-view {
    padding: 0;
  }
}

/* Styled global navs */
.islet,
.island,
.landmark {
  padding-bottom: 0;
  margin-bottom: 0;
}

.islet {
  margin-bottom: 25px;
}

.island {
  margin-bottom: 60px;
}

.landmark {
  margin-bottom: 76px;
}

@media (max-width: 500px) {
  .island {
    margin-bottom: 35px;
  }

  .landmark {
    margin-bottom: 55px;
  }
}

/* style placeholder color */
::-webkit-input-placeholder {
  color: @Gray60;
}

::-moz-placeholder {
  color: @Gray60;
}

::-ms-input-placeholder {
  color: @Gray60;
}

.global-container {
  background-color: @black;
}

.head-fade {
  display: none;
}

.signup-form {
  display: block;
  margin: 0 auto;
  max-width: 505px;
}

.signup-form .form-top {
  padding-right: 10px;
}

a {
  font-size: 14px;
}

.subtitle {
  font-weight: normal;
  font-size: 17px;
  color: @LightGray;
  margin-bottom: 50px;
  text-align: center;
}

.uber-logo-container + .subtitle {
  margin-top: 70px;
}

.signup-header {
  margin-top: 16px;
}

.close-lines,
.close-lines p {
  line-height: 21px;
}

.signup-value-border {
  margin-top: 4px;
}

.signup-value-prop,
.complex-value-prop {
  margin-top: 55px;
}

@media (max-width: 500px) {
  .signup-value-prop,
  .complex-value-prop {
    margin-top: 25px;
  }
}

.complex-value-prop {
  text-align: center;
  /* .center */

  padding-bottom: 47px;
  /* .well */

  margin-bottom: 30px;
}

.complex-value-prop .value-prop-title {
  padding-top: 47px;
  line-height: 30px;
}

.complex-value-prop img {
  margin-top: 27px;
}

.complex-value-prop img + .value-prop-title {
  padding-top: 27px;
}

@media (max-width: 500px) {
  .complex-value-prop {
    padding-bottom: 22px;
    /* .well */

    margin-bottom: 55px;
  }

  .complex-value-prop .value-prop-title {
    padding-top: 22px;
    line-height: 25px;
  }

  .complex-value-prop img {
    margin-top: 13px;
  }

  .complex-value-prop img + .value-prop-title {
    padding-top: 13px;
  }
}

.error-list-container {
  margin-bottom: 50px;
  display: none;
}

.error-list-container p,
.error-list-container ul {
  text-transform: uppercase;
  color: @form-error;
  font-size: 12px;
}

.error-list-container ul {
  padding-top: 10px;
  padding-left: 20px;
}

.error-list-container ul li {
  margin-bottom: 10px;
  line-height: 14px;
}

.uber-badge {
  background: transparent url('../images/web-fresh/uber-badge@1x-8.png') no-repeat left top;
  width: 36px;
  height: 36px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .uber-badge {
    background: transparent url('../images/web-fresh/uber-badge@2x-8.png') no-repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .uber-badge {
    background-size: 36px 36px;
  }
}

/* TODO completed needs to be doubled
 * defined because the completed class is
 * used in two separate contexts that dont
 * line up.
 */
.border-center .completed {
  display: none;
}

.border-center.complete .incomplete {
  display: none;
}

.border-center.complete .completed {
  display: inline-block;
}

.completed {
  display: none;
}

.complete .incomplete {
  display: none;
}

.complete .completed {
  display: inline-block;
}

form p,
form input,
form select,
form label {
  font-family: "ff-clan-web-pro-wide", sans-serif;
}

form > div {
  padding-bottom: 20px;
}

form > div > div {
  padding-right: 10px;
}

form .push-right {
  padding-right: 10px;
}

form .promo-wrapper {
  position: relative;
}

form .promo-wrapper img {
  position: absolute;
  top: 10px;
  right: 10px;
}

form label {
  display: block;
  padding-bottom: 12px;
  font-size: 11px;
  color: @white;
  text-transform: uppercase;
}

form select,
form input {
  width: 100%;
  padding: 18px 10px;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  height: 56px;
  border: 2px solid @white;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
}

form select {
  background: @white url('../images/web-fresh/global/select-bg@1x.gif') no-repeat right 4px;
  background-size: 48px 46px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  form select {
    background: @white url('../images/web-fresh/global/select-bg@2x.gif') no-repeat right 4px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  form select {
    background-size: 48px 46px;
  }
}

form .error-note {
  display: none;
}

form .error .error-note {
  display: block;
  color: @form-error;
}

form .error input {
  border-color: @form-error;
  color: @form-error;
  /* LESS won't let me collect these together with commas :( */

}

form .error input::-webkit-input-placeholder {
  /* WebKit browsers */

  color: @form-error;
}

form .error input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: @form-error;
}

form .error input::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: @form-error;
}

form .error input:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: @form-error;
}

form .agree-terms {
  text-align: center;
}

form .agree-terms p {
  letter-spacing: 0px;
}

form .agree-terms a {
  text-transform: none;
  text-decoration: underline;
}

@media (max-width: 500px) {
  form > div > div {
    padding-right: 6px;
  }

  form .push-right {
    padding-right: 6px;
  }

  form label {
    padding-bottom: 10px;
  }

  form select,
  form input {
    padding: 11px 10px;
    font-size: 11px;
    height: 44px;
  }

  form select {
    background: @white url('../images/web-fresh/global/select-bg@1x.gif') no-repeat right 3px;
    background-size: 36px 34px;
  }
}

@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min--moz-device-pixel-ratio: 2), (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), (max-width: 500px) and (min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  form select {
    background: @white url('../images/web-fresh/global/select-bg@2x.gif') no-repeat right 3px;
  }
}

@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min--moz-device-pixel-ratio: 2), (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), (max-width: 500px) and (min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  form select {
    background-size: 36px 34px;
  }
}

.app-info {
  min-height: 282px;
  padding: 110px 20px 90px 220px;
  background: transparent url('../images/web-fresh/global/sprite@1x-8.png') no-repeat -493px 28px;
  border-top: 1px solid @Gray;
  margin-top: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .app-info {
    background: transparent url('../images/web-fresh/global/sprite@2x-8.png') no-repeat -493px 28px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .app-info {
    background-size: 690px 264px;
  }
}

.get-app {
  padding-top: 25px;
  width: 100%;
}

.get-app p {
  font-size: 17px;
  color: @white;
  text-align: center;
  text-transform: uppercase;
}

.get-app .iphone-or-andriod {
  height: 340px;
  margin-top: 20px;
  background: transparent url('../images/web-fresh/forms/complete-phones@1x.jpg') no-repeat left top;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .get-app .iphone-or-andriod {
    background: transparent url('../images/web-fresh/forms/complete-phones@2x.jpg') no-repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .get-app .iphone-or-andriod {
    background-size: 530px 340px;
  }
}

.get-app .downloads a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid @white;
}

.get-app .cta {
  display: none;
  width: 100%;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: @Aqua;
  color: @white;
  text-align: center;
  text-transform: uppercase;
}

.back-home {
  width: 100%;
  position: relative;
  bottom: -35px;
  text-align: center;
}

.back-home:hover {
  text-decoration: underline;
}

.footnote {
  display: block;
  max-width: 475px;
  margin: 0 auto;
  padding: 10px 0 100px;
  text-align: center;
}

.footnote p {
  font-size: 11px;
  line-height: 20px;
  color: @Gray60;
  padding-bottom: 40px;
}

.mobile-country-number-container {
  margin: 0px 0px 0px 2px;
  position: relative;
  padding: 12px 10px;
  font-size: 14px;
  width: 80px;
  height: 54px;
  top: -54px;
  z-index: 1;
  text-align: center;
  background-color: @white;
  border: 2px solid @white;
  -webkit-appearance: none;
  -webkit-border-radius: 1.5px 0 0 1.5px;
  -moz-border-radius: 1.5px 0 0 1.5px;
  border-radius: 1.5px 0 0 1.5px;
}

.mobile-country-number-container p {
  font-size: 14px;
  color: black;
}

.mobile-number {
  padding-left: 90px;
}

@media (max-width: 500px) {
  .mobile-country-number-container {
    margin: 0;
    padding: 11px 10px;
    font-size: 11px;
    height: 44px;
    top: -44px;
  }

  .mobile-country-number-container p {
    font-size: 11px;
  }
}

.mobile-bottom-margin {
  margin-bottom: -56px;
}

@media screen and (max-width: 1000px) {
  .get-app {
    width: 100%;
  }

  .get-app .cta {
    display: inline-block;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .get-app .cta {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .get-app {
    padding-right: 10px;
    padding-top: 0px;
    margin-top: -10px;
  }

  .get-app .cta {
    display: inline-block;
  }

  .logo {
    width: 90px;
    height: 13px;
    background-size: 90px 13px;
  }

  .uber-logo-container + .subtitle {
    margin-top: 50px;
  }

  .subtitle {
    font-size: 11px;
  }

  .zip {
    padding-top: 20px;
  }

  .agree-terms p {
    letter-spacing: 0px;
  }

  .agree-terms a {
    font-size: 11px;
  }

  input[type="text"],
  input[type="password"],
  .btn,
  label,
  a {
    font-size: 11px;
  }

  .error-list-container {
    font-size: 11px;
  }

  .error-list-container p {
    background-color: @form-error;
    padding: 15px;
  }

  .error-list-container p,
  .error-list-container ul {
    text-transform: uppercase;
    color: @white;
    font-size: 12px;
  }

  .error-list-container ul {
    background-color: @DarkRed;
    padding: 15px 35px 2px;
  }

  .error-list-container ul li {
    margin: 0;
    padding-bottom: 13px;
    line-height: 14px;
  }
}

/* simple signup form overrides */
.signup-form.simple .form-top .subtitle {
  margin-bottom: 30px;
}

.signup-form.simple .form-top .action-copy {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.signup-form.simple .flag-image {
  right: 25px;
}

.signup-form.simple .back-home {
  margin-bottom: 40px;
}