@import "common/variables";

.focused-view {
  padding: 38px 0 0;
  border: 0;
}

.focused-view-subtitle {
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .focused-view {
    padding: 0;
  }
}

.head-fade {
  display: none;
}

.yber-logo-container {
  margin-bottom: 87.5px;
}

.signin-content {
  margin: 0 auto;
  display: block;
  max-width: 420px;
}

input[type="text"],
input[type="password"] {
  -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
.btn {
  width: 100%;
}

a {
  font-size: 12px;
}

input[type="text"],
input[type="password"],
.btn {
  font-size: 14px;
}

input[type="text"],
input[type="password"],
.btn {
  padding: 16px 10px;
  border-radius: 1.5px;
}

.error-note {
  margin-bottom: 15px;
}

.islet {
  margin-bottom: 20px;
}

.island {
  margin-bottom: 30px;
}

.landmark {
  margin-bottom: 55px;
}

.grey-box {
  margin-top: 40px;
  background-color: @DarculaGray;
  padding: 10px 5px;
}

.login-info {
  font-weight: bold;
  padding-bottom: 15px;
}

@media (min-width: 1000px) {
  .error-note {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) and (min-width: 500px) {
  .error-note {
    margin-top: 30px;
  }

  .yber-logo-container {
    margin-bottom: 75px;
  }
}

@media (max-width: 500px) {
  .focused-view-subtitle {
    font-size: 11px;
  }

  .focused-view-subtitle.border-center {
    margin-bottom: 22px;
  }

  .focused-view-subtitle.border-center:after {
    margin-top: -12px;
  }

  .error-note {
    font-size: 11px;
    margin-bottom: 13px;
  }

  input[type="text"],
  input[type="password"],
  .btn,
  label,
  a {
    font-size: 11px;
  }

  input[type="text"],
  input[type="password"],
  .btn {
    padding: 14.5px 10px;
  }

  .landmark {
    margin-bottom: 30px;
  }

  input[type=checkbox],
  input[type=checkbox] + label {
    line-height: 21px;
    vertical-align: middle;
  }

  .yber-logo-container {
    margin-bottom: 45px;
  }
}