@import "../common/variables";

/* Vehicle slider -- See global-elements.less */
.around-the-world {
  min-height: 805px;
  padding: 20px 0;
  text-align: center;
  color: @white;
  background: @primary-background url('../images/web-fresh/home/map-web_1x.gif') no-repeat center 200px;
  background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .around-the-world {
    background: @primary-background url('../images/web-fresh/home/map-web_2x.gif') no-repeat center 200px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .around-the-world {
    background-size: 1024px 510px;
  }
}
.around-the-world .map-title {
  padding-top: 30px;
}
.around-the-world form {
  padding: 180px 0 12px;
  text-align: center;
}
.around-the-world form .city-search {
  display: inline-block;
}
.around-the-world form .city-search input {
  width: 300px;
}
.around-the-world .cities-link {
  font-size: 14px;
}