@import "../common/variables";


.country-input {
  display: none;
  z-index: 2;
  opacity: 0;
  letter-spacing: normal;
  position: absolute;
  top: 12px;
  right: 9px;
  width: 32px;
  height: 28px;
  text-indent: 1px;
  cursor: pointer;
}

.city-search,
.city-selected {
  position: relative;
  padding: 5px;
  background-color: rgba(30, 186, 214, 0.5);
}

.city-search input,
.city-selected > p {
  width: 100%;
  padding: 18px 15px 17px;
  border: 1px solid @primary;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.city-search .search-button,
.city-selected .close-button {
  background-color: @primary-background;
  position: absolute;
  top: 11px;
  right: 11px;
}

.city-search .city-list {
  width: 300px;
  max-height: 310px;
  border-bottom: 1px solid @Gray60;
  background-color: @SuperLightGray;
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.city-search .city-list .city-search-item.selected {
  background-color: @white;
}

.city-search .city-list a,
.city-search .city-list span {
  display: inline-block;
  width: 100%;
  border-right: 1px solid;
  border-left: 1px solid;
  font-size: 12px;
  color: @Gray60;
  text-align: left;
  text-transform: uppercase;
}

.city-search .city-list a {
  padding: 18px 15px;
}

.city-search .city-list a:hover {
  background-color: @white;
}

.city-search .city-list .search-info {
  padding: 10px 15px;
}

.city-search .city-list .search-term {
  padding: 4px 15px;
  color: @black;
  border-color: @Gray60;
}

.city-search .search-button {
  padding: 14px;
  font-size: 13px;
  color: @white;
}

.city-selected .close-button {
  width: 40px;
  height: 40px;
  text-indent: -5000px;
}
