@import "../common/variables";

/*
 * Story list
 * A story list is a group of boxes with overlays that slide up
 * and down on hover
 */
.story {
  list-style: none outside none;
}

.story li {
  padding: 5px;
  cursor: pointer;
}

.story li:hover .overlay {
  top: -288px;
}

.story li:hover .headline {
  top: -185px;
}

.story li:hover .plus {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;

}

.story li > div {
  min-height: 285px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid @LightGray;
}

.story li .overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  -o-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  background-color: rgba(7, 7, 22, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.story li .title-box {
  display: table;
  width: 100%;
  height: 285px;
  position: absolute;
  z-index: 4;
}

.story li .headline {
  display: table-cell;
  position: relative;
  top: 0px;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  -o-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
  color: @white;
  text-align: center;
  vertical-align: middle;
}

.story li .plus {
  display: block;
  margin-left: -13px;
  padding: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: @black;
  position: absolute;
  left: 50%;
  top: 200px;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-out;
  color: @primary;
}

.features {
  min-height: 520px;
  padding: 60px 0;
  position: relative;
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
  text-align: center;
}

.features.gallery-open .story {
  display: none;
}

.features.gallery-open .modal-gallery {
  display: block;
}

.features .story {
  padding: 50px 0px;
}

.features .story li > div {
  background: transparent url('../images/web-fresh/home/uber-app/feature-box-bgs-web-sprite_1x-8.png') no-repeat left top;
}

.features article.fr-FR-story li > div {
  background: transparent url('../images/web-fresh/home/uber-app/fr-FR/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top;
}

.features article.it-IT-story li > div {
  background: transparent url('../images/web-fresh/home/uber-app/it-IT/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top;
}

.features article.nl-NL-story li > div {
  background: transparent url('../images/web-fresh/home/uber-app/nl-NL/feature-box-bgs-web-sprite_1x.jpg') no-repeat left top;
}

.features .story .tap-to-ride > div {
  background-position: 40px 0px;
}

.features .story .reliable-pickup > div {
  background-position: -332px 0px;
}

.features .story .clear-pricing > div {
  background-position: -706px 0px;
}

.features .story .cashless-convenient > div {
  background-position: 40px -310px;
}

.features .story .feedback-matters > div {
  background-position: -350px -310px;
}

.features .story .split-fare > div {
  background-position: -720px -310px;
}

.features .modal-gallery {
  display: none;
  position: relative;
}

.features .modal-gallery .close-modal {
  position: absolute;
  top: -34px;
  right: 8px;
  font-size: 20px;
  font-weight: bold;
}

.features .modal-gallery .modal-container {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  background-color: @primary-background;
  background: @DarkGray url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;
  background-size: 18px 18px;
  color: @white;
}

.features .modal-gallery .modal-container .btn {
  width: 40%;
  height: 452px;
  margin-top: -226px;
  padding: 215px 20px 0 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 2;
  font-size: 22px;
  color: @Aqua;
  text-align: right;
}

.features .modal-gallery .modal-container .btn.last {
  padding: 215px 0 0 20px;
  left: 0px;
  text-align: left;
}

.features .modal-gallery .modal-container ul {
  list-style: none outside none;
}

.features .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image {
  background: transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-web-sprite_1x-8.png') no-repeat left top;
}

.features .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image {
  background: transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-web-sprite_1x-8.png') no-repeat left top;
}

.features .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image {
  background: transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-web-sprite_1x-8.png') no-repeat left top;
}

.features .modal-gallery .modal-container .modal-slide {
  display: none;
  padding: 75px;
  position: relative;
}

.features .modal-gallery .modal-container .modal-slide.active {
  display: block;
}

.features .modal-gallery .modal-container .modal-slide .copy {
  position: relative;
  text-align: left;
}

.features .modal-gallery .modal-container .modal-slide .stick {
  width: 225px;
  height: 32px;
  position: relative;
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat -145px top;
  z-index: 1;
}

.features .modal-gallery .modal-container .modal-slide .feature-image {
  position: absolute;
  z-index: 2;
  background: transparent url('../images/web-fresh/home/uber-app/features-phones-web-sprite_1x-8.png') no-repeat left top;
}

.features .modal-gallery .modal-container .modal-slide.tap-to-ride .copy {
  padding: 110px 0px 0px 340px;
}

.features .modal-gallery .modal-container .modal-slide.tap-to-ride .stick {
  top: 220px;
  left: 128px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image {
  width: 270px;
  height: 660px;
  top: -32px;
  left: 85px;
}

.features .modal-gallery .modal-container .modal-slide.reliable-pickup .copy {
  padding: 110px 380px 0px 35px;
}

.features .modal-gallery .modal-container .modal-slide.reliable-pickup .stick {
  top: 220px;
  left: 448px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.features .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image {
  width: 270px;
  height: 660px;
  background-position: -320px top;
  top: -32px;
  right: 85px;
}

.features .modal-gallery .modal-container .modal-slide.clear-pricing .copy {
  padding: 100px 0px 0px 510px;
}

.features .modal-gallery .modal-container .modal-slide.clear-pricing .stick {
  top: 210px;
  left: 305px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image {
  width: 415px;
  height: 660px;
  background-position: -610px -15px;
  top: -32px;
  left: 75px;
}

.features .modal-gallery .modal-container .modal-slide.cashless-convenient .copy {
  padding: 110px 450px 0px 40px;
}

.features .modal-gallery .modal-container .modal-slide.cashless-convenient .stick {
  top: 150px;
  left: 335px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.features .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image {
  width: 330px;
  height: 660px;
  background-position: 0px -672px;
  top: -32px;
  right: 85px;
}

.features .modal-gallery .modal-container .modal-slide.feedback-matters .copy {
  padding: 110px 0px 0px 340px;
}

.features .modal-gallery .modal-container .modal-slide.feedback-matters .stick {
  top: 220px;
  left: 128px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image {
  width: 260px;
  height: 660px;
  background-position: -330px -677px;
  top: -32px;
  left: 85px;
}

.features .modal-gallery .modal-container .modal-slide.split-fare .copy {
  padding: 110px 450px 0px 0px;
}

.features .modal-gallery .modal-container .modal-slide.split-fare .stick {
  top: 218px;
  left: 362px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.features .modal-gallery .modal-container .modal-slide.split-fare .feature-image {
  width: 440px;
  height: 660px;
  background-position: -598px -682px;
  top: -32px;
  right: 55px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .features {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
    background-size: 18px 18px;
  }

  .features .story li > div {
    background: transparent url('../images/web-fresh/home/uber-app/feature-box-bgs-web-sprite_2x-8.png') no-repeat left top;
    background-size: 1004px 596px;
  }

  .features article.fr-FR-story li > div {
    background: transparent url('../images/web-fresh/home/uber-app/fr-FR/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;
    background-size: 1004px 596px;
  }

  .features article.it-IT-story li > div {
    background: transparent url('../images/web-fresh/home/uber-app/it-IT/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;
    background-size: 1004px 596px;
  }

  .features article.nl-NL-story li > div {
    background: transparent url('../images/web-fresh/home/uber-app/nl-NL/feature-box-bgs-web-sprite_2x.jpg') no-repeat left top;
    background-size: 1004px 596px;
  }

  .features .modal-gallery .modal-container {
    background: @DarkGray url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;
    background-size: 18px 18px;
  }

  .features .modal-gallery .modal-container .fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-web-sprite_2x-8.png') no-repeat left top;
    background-size: 1040px 1354px;
  }

  .features .modal-gallery .modal-container .it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-web-sprite_2x-8.png') no-repeat left top;
    background-size: 1040px 1354px;
  }

  .features .modal-gallery .modal-container .nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-web-sprite_2x-8.png') no-repeat left top;
    background-size: 1040px 1354px;
  }

  .features .modal-gallery .modal-container .modal-slide .stick {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat -145px top;
    background-size: 690px 264px;
  }

  .features .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/features-phones-web-sprite_2x-8.png') no-repeat left top;
    background-size: 1040px 1354px;
  }

}