@import "../common/variables";

/* Car Galleries */
.vehicle-fleet {
  height: 1026px;
  padding: 60px 0;
  position: relative;
  text-align: center;
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
  /* Global vehicle slider */

}

.vehicle-fleet .bg-top {
  width: 100%;
  height: 499px;
  position: absolute;
  background-color: @primary-background;
}

.vehicle-fleet h3,
.vehicle-fleet p {
  color: @white;
}

.vehicle-fleet .content {
  position: relative;
  padding: 50px 0;
}

.vehicle-fleet .content .vehicle-slide {
  display: none;
}

.vehicle-fleet .content .vehicle-slide.active {
  display: block;
}

.vehicle-fleet .sunrise-box {
  height: 290px;
  overflow: hidden;
  position: relative;
  top: 37px;
}

.vehicle-fleet .sunrise-box h4 {
  position: relative;
  top: 120px;
  font-size: 15px;
  font-weight: 400;
  color: @primary-background;
}

.vehicle-fleet .sunrise-box .sunrise {
  display: inline-block;
  width: 580px;
  height: 580px;
  padding-top: 56px;
  background-color: @Aqua;
  font-size: 45px;
  font-weight: 100;
  -webkit-border-radius: 290px;
  -moz-border-radius: 290px;
  border-radius: 290px;
}

.vehicle-fleet .sunrise-box .sunrise strong {
  font-weight: 400;
}

.vehicle-fleet .black .sunrise-box h4 {
  color: @white;
}

.vehicle-fleet .controller {
  top: 75px;
}

.vehicle-fleet .vehicle-info {
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}

.vehicle-fleet .vehicle-info p {
  color: @black;
}

.vehicle-fleet .vehicle-info .copy {
  height: 180px;
  padding-top: 145px;
  position: relative;
  z-index: 2;
}

.vehicle-fleet .vehicle-info .vehicle-img {
  width: 100%;
  height: 650px;
  position: absolute;
  top: -262px;
  z-index: 1;
  text-indent: -5000px;
}

.vehicle-fleet .moto .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-moto-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .yberx .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-x-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .taxi .sunrise-box .sunrise {
  background-color: @MediumYellow;
}

.vehicle-fleet .taxi .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-taxi-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .black .sunrise-box .sunrise {
  background-color: @NavyBlue;
}

.vehicle-fleet .black .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-black-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .suv .sunrise-box .sunrise {
  background-color: @LightGray;
}

.vehicle-fleet .suv .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-suv-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .lux .sunrise-box .sunrise {
  background-color: @LighterGray;
}

.vehicle-fleet .lux .vehicle-info .vehicle-img {
  background: transparent url('../images/web-fresh/vehicles/car-lux-1703-1362_1x.png') no-repeat center top;
}

.vehicle-fleet .vehicle-chooser {
  width: 435px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.vehicle-fleet .vehicle-chooser .vehicles {
  position: relative;
}

.vehicle-fleet .vehicle-chooser .vehicles a {
  position: relative;
  top: 0px;
  font-size: 13px;
  color: @black;
  font-weight: 500;
}

.vehicle-fleet .vehicle-chooser .vehicles a.yberx {
  text-transform: none;
}

.vehicle-fleet .vehicle-chooser .slider-bar {
  width: 390px;
  height: 60px;
  margin: 0 auto;
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat 15px -202px;
  position: relative;
  top: -30px;
  cursor: pointer;
}

.vehicle-fleet .vehicle-chooser .slider-bar .slider-circle {
  display: block;
  width: 45px;
  height: 48px;
  padding: 6px;
  position: absolute;
  top: 30px;
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat -450px -1px;
}

.vehicle-fleet .vehicle-chooser .slider-bar .slider-circle .car {
  display: inline-block;
  padding: 3px 0;
  font-size: 25px;
  color: @primary;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .vehicle-fleet {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
    background-size: 18px 18px;
  }

  .vehicle-fleet .moto .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-moto-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;
  }

  .vehicle-fleet .yberx .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-x-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;
  }

  .vehicle-fleet .taxi .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-taxi-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;

  }

  .vehicle-fleet .black .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-black-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;
  }

  .vehicle-fleet .suv .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-suv-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;
  }

  .vehicle-fleet .lux .vehicle-info .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-lux-1703-1362_2x.png') no-repeat center top;
    background-size: 850px 680px;
  }

  .vehicle-fleet .vehicle-chooser .slider-bar {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat 15px -202px;
    background-size: 690px 264px;
  }

  .vehicle-fleet .vehicle-chooser .slider-bar .slider-circle {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat -450px -1px;
    background-size: 690px 264px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .vehicle-fleet .mobile-nav .yberx .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-x-500-400_2x.png') no-repeat center top;
    background-size: 250px 200px;
  }

  .vehicle-fleet .mobile-nav .taxi .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-taxi-500-400_2x.png') no-repeat center top;
    background-size: 250px 200px;
  }

  .vehicle-fleet .mobile-nav .black .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-black-500-400_2x.png') no-repeat center top;
    background-size: 250px 200px;
  }

  .vehicle-fleet .mobile-nav .suv .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-suv-500-400_2x.png') no-repeat center top;
    background-size: 250px 200px;
  }

  .vehicle-fleet .mobile-nav .lux .vehicle-img {
    background: transparent url('../images/web-fresh/vehicles/car-lux-500-400_2x.png') no-repeat center top;
    background-size: 250px 200px;
  }
}