@import "../common/variables";

/*
 * Heros
 */
.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero .hero-slide {
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  overflow: hidden;
}

.hero .hero-slide .headline {
  position: relative;
  top: 20%;
  z-index: 2;
}

.hero .hero-slide .headline h1 {
  line-height: 75px;
}

.hero .hero-slide .headline p {
  display: inline-block;
  padding: 0 10px;
  font-size: 15px;
  background-color: rgba(7, 7, 22, 0.3);
}

.hero .hero-slide img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 1;
}


.hero .hero-slide {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.hero .hero-slide.active {
  display: block;
}
.hero .hero-slide > div {
  position: relative;
  z-index: 2;
}
.hero .hero-slide .headline {
  top: 55%;
}
.hero .hero-slide .headline .cta {
  width: 100%;
  margin-top: 20px;
  position: relative;
  background-color: transparent;
}
.hero .hero-slide .headline .cta a {
  display: inline-block;
  padding: 5px 50px;
  background-color: @Aqua;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 14px;
  font-weight: 500;
  color: @white;
}
.hero .hero-slide .headline .cta span {
  display: block;
  width: 1000px;
  height: 1px;
  margin-left: -500px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 25%, rgba(99, 99, 99, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(99, 99, 99, 0.5)), color-stop(75%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 25%, rgba(30, 186, 214, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 25%, rgba(99, 99, 99, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 25%, rgba(99, 99, 99, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(255, 255, 255, 0) 15%, rgba(99, 99, 99, 0.5) 50%, rgba(255, 255, 255, 0) 85%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */

}


