@import "../common/variables";

.ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
 * Retina backgrounds
 * This is important. Especially because these images are coming from the CDN.
 * Generate images at 1x and 2x sizes. Pass in the width and height of the 1x
 * image. The mixin will double it for you. I encourage you to download
 * ImageAlpha and convert png24s to png8s to more than 1/2 the size.
 *
 * File naming conventions:
 * Your images will break if you do not name them conventionally. Two images
 * must exist. File name, target resolution, png type. Use the following format:
 *
 * 1x resolution images: file-name@1x-8.png
 * 2x resolution images: file-name@2x-8.png
 *
 * @param @c    - Background color.
 * @param @file - File path RELATIVE to the root /images directory.
 *    ex. .retina-bg(@file: "home/uber-app/file-name")
 * @param @ext  - File extension with leading dot.
 * @param @xo   - X axis offset.
 * @param @yo   - Y axis offset.
 * @param @w    - Width of image at 0.5x resolution.
 * @param @h    - Height of image at 0.5x resolution.
 */
.pattern-bg-lite {
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-lite {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-lite {
    background-size: 18px 18px;
  }
}

.pattern-bg-dark {
  background: @DarkGray url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;
  background-size: 18px 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-dark {
    background: @DarkGray url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;
    background-size: 18px 18px;
  }
}

.transition-off {
  webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-backface-visibility: hidden;
}

/* HOMEPAGE */

@media screen and (min-width: 1000px) and (max-width: 1440px) {
  .hero .controller {
    top: 98%;
  }

  .hero .controller a {
    padding: 0px;
  }

  .hero .hero-slide .headline {
    top: 55%;
  }

  .hero .hero-slide .headline h1 {
    font-size: 75px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  .hero .hero-slide .headline {
    top: 50%;
  }

  .hero .hero-slide .headline h1 {
    line-height: 60px;
  }

  .request-and-ride .story {
    padding: 50px 100px;
  }

  .request-and-ride .modal-gallery .modal-container {
    height: 300px;
  }

  .request-and-ride .modal-gallery .modal-container .btn {
    height: 300px;
    margin-top: -150px;
    padding-top: 135px;
  }

  .request-and-ride .modal-gallery .modal-container .btn.last {
    padding-top: 135px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide {
    padding: 10px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .copy {
    padding: 48px 70px 65px 30px;
    top: -28px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3 {
    font-size: 27px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .copy p {
    font-size: 12px;
    line-height: 22px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    display: none;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/features-phones-tablet-sprite_1x-8.png') no-repeat left top;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .copy {
    padding: 112px 55px 0px 215px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.tap-to-ride .feature-image {
    width: 128px;
    height: 335px;
    top: -18px;
    left: 48px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .copy {
    padding: 83px 205px 0px 70px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.reliable-pickup .feature-image {
    width: 129px;
    height: 338px;
    background-position: -162px top;
    top: -20px;
    right: 50px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .copy {
    padding: 115px 80px 0px 288px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.clear-pricing .feature-image {
    width: 212px;
    height: 333px;
    background-position: -300px -6px;
    top: -17px;
    left: 38px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .copy {
    padding: 102px 240px 0px 62px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.cashless-convenient .feature-image {
    width: 163px;
    height: 336px;
    background-position: 0px -336px;
    top: -16px;
    right: 38px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .copy {
    padding: 100px 55px 0px 228px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.feedback-matters .feature-image {
    width: 122px;
    height: 332px;
    background-position: -173px -336px;
    top: -16px;
    left: 70px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .copy {
    padding: 95px 345px 0px 70px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide.split-fare .feature-image {
    width: 220px;
    height: 335px;
    background-position: -297px -338px;
    top: -20px;
    right: 80px;
  }

  .around-the-world {
    background-position: center 165px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/features-phones-tablet-sprite_2x-8.png') no-repeat left top;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min--moz-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (-ms-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 1000px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background-size: 520px 676px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .hero .hero-slide .headline {
    top: 70%;
  }
}

@media screen and (min-width: 500px) and (max-width: 780px) {
  .request-and-ride .story {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 500px) {
  .hero .hero-slide .headline {
    top: 52%;
  }

  .request-and-ride {
    padding: 25px 0;
  }

  .request-and-ride .grid-locked {
    padding: 0px 5px;
  }

  .request-and-ride .story {
    padding: 20px 0px;
  }

  .request-and-ride .story li .headline {
    font-size: 15px;
  }

  .request-and-ride .modal-gallery .close-modal {
    padding: 21px;
    top: 0px;
    right: 2px;
    z-index: 9;
    font-size: 14px;
  }

  .request-and-ride .modal-gallery .modal-container {
    width: 100%;
    height: 468px;
    margin-top: 25px;
    padding-top: 55px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  .request-and-ride .modal-gallery .modal-container .btn {
    height: auto;
    margin: 0;
    width: 52px;
    padding: 22px;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: bold;
  }

  .request-and-ride .modal-gallery .modal-container .btn.next {
    left: 50px;
  }

  .request-and-ride .modal-gallery .modal-container .btn.last {
    padding: 22px 20px;
  }

  .request-and-ride .modal-gallery .modal-container ul {
    border-top: 1px solid @Gray;
  }

  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-mobile_1x.jpg') no-repeat left top;
  }

  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-mobile_1x.jpg') no-repeat left top;
  }

  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-mobile_1x.jpg') no-repeat left top;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide {
    padding: 0;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .copy {
    padding: 15px 18px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .copy h3 {
    padding-bottom: 5px;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    width: 277px;
    height: 164px;
    margin: 0 0 20px -139px;
    position: relative;
    top: 17px;
    left: 50%;
    background: transparent url('../images/web-fresh/home-features-phones-mobile_1x.jpg') no-repeat left top;
  }

  .request-and-ride .modal-gallery .modal-container .modal-slide .stick {
    display: none;
  }

  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.reliable-pickup .feature-image {
    background-position: -278px 0px;
  }

  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.clear-pricing .feature-image {
    background-position: -559px 0px;
  }

  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.cashless-convenient .feature-image {
    background-position: 0 -168px;
  }

  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.feedback-matters .feature-image {
    background-position: -278px -168px;
  }

  .request-and-ride .modal-gallery .modal-container ul li.modal-slide.split-fare .feature-image {
    background-position: -559px -168px;
  }

  .around-the-world {
    min-height: 620px;
    background: @black url('../images/web-fresh/home/map-mobile_1x.gif') no-repeat center -70px;
  }

  .around-the-world form {
    padding-top: 90px;
  }

  .around-the-world form .city-search input,
  .around-the-world form .city-search .city-list {
    width: 265px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/fr-FR/features-phones-mobile_2x.jpg') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.fr-FR-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/it-IT/features-phones-mobile_2x.jpg') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.it-IT-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home/uber-app/nl-NL/features-phones-mobile_2x.jpg') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container ul.nl-NL-story .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background: transparent url('../images/web-fresh/home-features-phones-mobile_2x.jpg') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .request-and-ride .modal-gallery .modal-container .modal-slide .feature-image {
    background-size: 834px 332px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .around-the-world {
    background: @black url('../images/web-fresh/home/map-mobile_2x.gif') no-repeat center -70px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .around-the-world {
    background-size: 320px 610px;
  }
}
