@import "../common/variables";

#slides .slides-container {
  display: none;
}

#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}

.slides-navigation a {
  position: absolute;
  display: block;
}

.slides-navigation a.prev {
  left: 0;
}

.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.slides-pagination a {
  border: 2px solid @DarkGray;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}

.slides-pagination a.current {
  background: @DarkGray;
}

.slides-container li:nth-child(1) {
  background-image: url(../images/web-fresh/home/heros/home-hero-1-1440-900.jpg);
}

.slides-container li:nth-child(2) {
  background-image: url(../images/web-fresh/home/heros/home-hero-2-1440-900.jpg);
}

.slides-container li:nth-child(3) {
  background-image: url(../images/web-fresh/home/heros/home-hero-3-1440-900.jpg);
}

.slides-container li:nth-child(4) {
  background-image: url(../images/web-fresh/home/heros/home-hero-4-1440-900.jpg);
}

.slides-container li:nth-child(5) {
  background-image: url(../images/web-fresh/home/heros/home-hero-5-1440-900.jpg);
}

.slides-container li:nth-child(6) {
  background-image: url(../images/web-fresh/home/heros/home-hero-6-1440-900.jpg);
}

.slides-container li {
  background-size: cover;
  background-origin: 0 50%;
  background-repeat: no-repeat;

}