<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>yber</title>
    <meta name="keywords"
          content="Cab App, The Cab App, Taxi App, Cab App, go Taxi App, App for go Taxis, App for go Cabs, iPhone App Cabs, Gettaxi, Get a Taxi, yber, ube, yber cab, hail a taxi, taxi reservation, Android Cab App, Android Taxi App, go Android, go iPhone, go, Taxi, go Taxi, Need a ride!, Need a Taxi?, go Weather,uner taxi,bulls,white sox, united center taxi, go transportation,wrigley field taxi, cta">
    <meta name="description"
          content="The yber app connects you with a driver at the tap of a button. Available on iPhone, Android, and at m.yber.com.">
    <meta name="viewport" content="width=device-width">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">


    <!-- Mobile iOS stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--320-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <!-- Stylesheets -->
    <link rel='stylesheet' href='css/style.css'/>

</head>


<body class="{% block body_class %}dark light-foot{% endblock %}">


<!-- This allows for opening and closing of the main nav -->

<div class="web global-container js-global-container">

    {% block nav %}
        {% include "./partials/nav.html" %}
    {% endblock %}

    {% block site-wrapper %}
    <section class="site-wrapper js-site-wrapper">
        {% block header %}
            {% include "./partials/header.html" %}
        {% endblock %}

        {% block contents %}

        {% endblock %}

    </section>
    {% endblock %}

    {% block footer %}
        {% include "./partials/footer.html" %}
    {% endblock %}

</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>

