{% extends "./base.swig" %}

{% block contents %}
{% include "./partials/drivers/hero.html" %}
{% include "./partials/drivers/highlight-boxes.html" %}
{% include "./partials/drivers/stories.html" %}
{% include "./partials/drivers/interested.html" %}
{% endblock %}