{% extends "./base.swig" %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block site-wrapper %}
<section class="signin focused-view section-dark">
    <div class="yui3-g">
        <article class="signin-content yui3-u-5-12 yui3-u-m-1 yui3-u-s-1">
            <p class="center yber-logo-container">
                <a href="/" class="yber-logo ir">yber</a>
            </p>

            <p class="focused-view-subtitle uppercase center border-center">
        <span>
          Log In
        </span>
            </p>

            <div class="yui3-g">
                <p class="yui3-u-1 js-signin-error error-note uppercase center invisible">&nbsp;</p>
            </div>


            <form class="form-loadable js-signin-form" action="#" method="POST">
                <div class="yui3-g islet field js-signin-login">
                    <input type="text" name="login" class="js-login" placeholder="Email">
                </div>

                <div class="yui3-g islet field js-signin-password">
                    <input type="password" name="password" placeholder="Password">
                </div>

                <div class="landmark">
                    <input type="checkbox" id="remember_me" name="remember_me">
                    <label for="remember_me">&nbsp;Remember Me</label>
                </div>

                <input type="hidden" name="request_source" value="www.yber.com">

                <div class="island">
                    <div class="yui3-g submit">
                        <div class="yui-3-u-1">
                            <p class="pending-loader ir">Loading</p>
                            <input type="submit" value="Log In" class="btn btn-filled uppercase">
                        </div>
                    </div>
                </div>

                <p class="center">
                    <a href="#" class="js-forgot-link">
                        Forgot Password
                    </a>
                </p>

            </form>

        </article>

    </div>
</section>
{% endblock %}


