@import "variables";

/*
 * Global Footer
 * Pretty basic global footer styling. Grid is set to 1/5, 3/5, 1/5 for
 * all data in the footer on a standard screen.
 */
.global-footer {
  height: 145px;
  padding-top: 12px;
  position: relative;
  background-color: @primary-background;
}

.global-footer .social {
  padding: 40px 15px;
  text-align: left;
}

.global-footer .social a {
  margin-right: 5px;
  padding: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid @white;
  color: @white;
}

.global-footer .social a:hover {
  border-color: @primary-background;
  background-color: @white;
  color: @primary-background;
}

.global-footer .navs {
  text-align: center;
  text-transform: uppercase;
}

.global-footer .navs .current-lng {
  display: inline-block;
  padding-top: 14px;
}

.global-footer .navs .language-picker {
  text-align: center;
}

.global-footer .navs .language-picker select {
  padding: 10px 0 0 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  left: 0px;
  top: -36px;
  text-indent: -5000px;
}

.global-footer .sign-up {
  padding: 7px 25px;
  background-color: @primary;
  position: relative;
  top: -23px;
  font-size: 14px;
  color: @white;
}

.global-footer .primary {
  padding-top: 10px;
  color: @white;
}

.global-footer .primary a {
  padding: 0 15px;
  font-size: 15px;
  color: @white;
}

.global-footer .secondary a {
  padding: 0 10px;
  font-size: 10px;
  color: @LightGray;
}

.global-footer .downloads a {
  border: 1px solid @white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.light-foot .global-footer {
  background-color: @white;
}

.light-foot .global-footer .primary,
.light-foot .global-footer .primary a {
  color: @primary-background;
}

.light-foot .global-footer .secondary a {
  color: @Gray60;
}

.light-foot .global-footer .social a {
  border: none;
  background-color: @primary-background;
  border: 1px solid transparent;
  color: @white;
}

.light-foot .global-footer .social a:hover {
  background-color: @white;
  color: @primary-background;
  border: 1px solid @primary-background;
}

@media screen and (max-width: 500px) {
  .global-footer {
    min-height: 145px;
    text-align: center;
  }

  .global-footer .sign-up {
    margin: 0 25px;
    padding: 14px 40px;
    top: -36px;
    font-size: 16px;
  }

  .global-footer .social {
    padding: 10px;
    text-align: center;
  }

  .global-footer .social a {
    margin: 0 16px;
    padding: 16px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: 2px solid @white;
    color: @white;
  }

  .global-footer .social a:last-child {
    margin-right: none;
  }
}