.padded-form-btn {
  padding: 13px 10px;
}

.padded-form input,
.padded-form button {
  padding: 13px 10px;
}

.field > input {
  border: white 3px solid;
}

.field-invalid > input {
  border-color: @form-error;
  color: @form-error;
  /* LESS won't let me collect these together with commas :( */

}

.field-invalid > input::-webkit-input-placeholder {
  /* WebKit browsers */

  color: @form-error;
}

.field-invalid > input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: @form-error;
}

.field-invalid > input::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: @form-error;
}

.field-invalid > input:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: @form-error;
}

.form-loadable .submit {
  padding-bottom: 0px;
  position: relative;
}

.form-loadable .submit .pending-loader {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 3px;
  right: 25px;
  z-index: 3;
  background: transparent url('../images/web-fresh/loader_1x.gif') no-repeat center center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-loadable .submit .pending-loader {
    background: transparent url('../images/web-fresh/loader_2x.gif') no-repeat center center;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-loadable .submit .pending-loader {
    background-size: 60px 60px;
  }
}

.pending .submit .pending-loader {
  display: block;
}

.pending .submit .btn {
  background-color: @form-pending;
  border-color: @form-pending;
}

.pending .submit .btn:hover {
  cursor: default;
}

.error-note {
  font-size: .9em;
  color: @form-error;
}
