@import "variables";

/*
 * Global Elements
 * This holds all global settings, styles, and elements that live across the
 * site. This includes grid settings, wrapper tools, font styling, etc.
 */
html,
body {
  height: 100%;
}

body {
  background-color: @primary-background;
}

.light {
  color: @black;
}

.light .site-wrapper {
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .light .site-wrapper {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .light .site-wrapper {
    background-size: 18px 18px;
  }
}

.light .site-wrapper .head-fade {
  display: none;
}

.preloader {
  width: 100%;
  height: 100%;
  background-color: @primary-background;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
}

.web.global-container {
  overflow: hidden;
}

.noverflow {
  overflow: hidden;
}

.site-wrapper {
  min-height: 100%;
  margin-top: 0px;
  margin-bottom: -126px;
  background-color: @primary-background;
  -webkit-box-shadow: 0 10px 25px @black;
  -moz-box-shadow: 0 10px 25px @black;
  box-shadow: 0 10px 25px @black;
  position: relative;
  z-index: 1px;
  /*
   * Anything that is confined to the window gets grid locked at 1228 of
   * course, unless this is too big, then we'll drop it down in a media query.
   */

  /*
   * Grid squeeze.
   * Some designs call for removing 1/14th the width off of each side of a view
   * and our grid system does not supports 7ths or 14ths. This class squeezes
   * our bounding grid down so we can use 12ths in a smaller area.
   */

}

.site-wrapper:after {
  height: 42px;
  content: "";
  display: block;
}

.site-wrapper .head-fade {
  width: 100%;
  height: 165px;
  background: -moz-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(7, 7, 22, 0.7)), color-stop(70%, rgba(7, 7, 22, 0.3)), color-stop(100%, rgba(7, 7, 22, 0)));
  background: -webkit-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
  background: -o-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
  background: -ms-linear-gradient(top, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
  background: linear-gradient(to bottom, rgba(7, 7, 22, 0.7) 0%, rgba(7, 7, 22, 0.3) 70%, rgba(7, 7, 22, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc070716', endColorstr='#00070716', GradientType=0);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
}

.site-wrapper .grid-locked {
  width: 100%;
  max-width: 1228px;
  margin: 0 auto;
}

.site-wrapper .grid-squeezed {
  padding: 0 90px;
}

.site-wrapper.menu-showing {
  width: 100%;
  right: -285px;
}

.site-wrapper.menu-showing .grid-locked {
  width: 936px;
}

.site-wrapper.menu-showing .grid-squeezed {
  padding: 0;
}