
/*
 * Global Header
 * This is our main global header that spans all pages. The global header
 * includes the sign up/sign in buttons as well as the logo & main menu button.
 */
.global-header {
  width: 100%;
  padding: 38px 20px 20px 20px;
  position: fixed;
  top: 0px;
  z-index: 5;
  line-height: 10px;
  color: @white;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #adadad;
}

.global-header p {
  line-height: 10px;
}

.global-header a {
  color: @white;
  font-size: 12px;
  text-transform: uppercase;
}

.global-header .menu {
  position: relative;
}

.global-header .menu .menu-text {
  padding-left: 38px;
}

.global-header .menu .icon-menu {
  display: inline-block;
  padding: 25px 70px 25px 10px;
  position: absolute;
  top: -22px;
  font-size: 18px;
  line-height: 9px;
}

.global-header .yber-logo {
  position: relative;
  top: -9px;
  text-align: center;
}

.global-header .actions {
  text-align: right;
}

.global-header .actions a {
  padding: 5px 12px;
}

.global-header .actions .icon-avatar {
  font-size: 15px;
}

.global-header.down-page {
  background-color: rgba(0, 0, 0, 0.5);
}

.global-header.down-page:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.light .global-header :not(.btn) {
  color: @black;
}

.light .global-header.down-page a,
.light .global-header.down-page p,
.light .global-header.down-page .icon-menu,
.light .global-header.down-page .menu-text {
  color: @white;
}

.global-header-focused {
  display: none;
}

.light .yber-logo {
  background: transparent url('../images/web-fresh/global/logo-web-dark_1x.png') no-repeat left top;
  background-size: 167px 23px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .light .yber-logo {
    background: transparent url('../images/web-fresh/global/logo-web-dark_2x.png') no-repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .light .yber-logo {
    background-size: 166px 22px;
  }
}
@import "nav";

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .global-header .yber-logo {
    background: transparent url('../images/web-fresh/global/logo-mobile-light_2x.png') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .global-header .yber-logo {
    background-size: 90px 12px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .light .global-header .yber-logo {
    background: transparent url('../images/web-fresh/global/logo-mobile-dark_2x.png') no-repeat left top;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 500px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-ms-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi) {
  .light .global-header .yber-logo {
    background-size: 90px 12px;
  }
}
