@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-heart,
.icon-globe,
.icon-world,
.icon-windows,
.icon-uptriangle,
.icon-yberx,
.icon-twitter,
.icon-thin_plus,
.icon-taxi,
.icon-suv,
.icon-star,
.icon-share,
.icon-search,
.icon-rightarrow,
.icon-right_thin,
.icon-plus,
.icon-moto,
.icon-minus,
.icon-menu,
.icon-mail,
.icon-lux,
.icon-logo,
.icon-left_thin,
.icon-instagram,
.icon-googleplus,
.icon-googleplay,
.icon-facebook,
.icon-downtriangle,
.icon-downarrow,
.icon-close,
.icon-check,
.icon-chat,
.icon-blackberry,
.icon-black,
.icon-apple,
.icon-lightbulb,
.icon-instagram2,
.icon-seal,
.icon-thumbsup,
.icon-pin,
.icon-signup-downarrow,
.icon-signup-uparrow,
.icon-vehiclearrow-left,
.icon-vehiclearrow-right,
.icon-modal-close,
.icon-nav-rightarrow,
.icon-mobilemodalclose,
.icon-leftarrow,
.icon-error,
.icon-avatar,
.icon-deposit,
.icon-payment,
.icon-schedule,
.icon-linkedin,
.icon-linkedin_box {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-heart:before {
  content: "\e023";
}
.icon-globe:before {
  content: "\e024";
}
.icon-world:before {
  content: "\e001";
}
.icon-windows:before {
  content: "\e002";
}
.icon-uptriangle:before {
  content: "\e003";
}
.icon-yberx:before {
  content: "\e004";
}
.icon-twitter:before {
  content: "\e005";
}
.icon-thin_plus:before {
  content: "\e006";
}
.icon-taxi:before {
  content: "\e007";
}
.icon-suv:before {
  content: "\e008";
}
.icon-star:before {
  content: "\e009";
}
.icon-share:before {
  content: "\e00a";
}
.icon-search:before {
  content: "\e00b";
}
.icon-rightarrow:before {
  content: "\e01b";
}
.icon-right_thin:before {
  content: "\e013";
}
.icon-plus:before {
  content: "\e012";
}
.icon-moto:before {
  content: "\e011";
}
.icon-minus:before {
  content: "\e010";
}
.icon-menu:before {
  content: "\e00f";
}
.icon-mail:before {
  content: "\e00e";
}
.icon-lux:before {
  content: "\e00d";
}
.icon-logo:before {
  content: "\e00c";
}
.icon-left_thin:before {
  content: "\e000";
}
.icon-instagram:before {
  content: "\e015";
}
.icon-googleplus:before {
  content: "\e016";
}
.icon-googleplay:before {
  content: "\e018";
}
.icon-facebook:before {
  content: "\e019";
}
.icon-downtriangle:before {
  content: "\e01a";
}
.icon-downarrow:before {
  content: "\20";
}
.icon-close:before {
  content: "\e01c";
}
.icon-check:before {
  content: "\e01d";
}
.icon-chat:before {
  content: "\e01e";
}
.icon-blackberry:before {
  content: "\e01f";
}
.icon-black:before {
  content: "\e020";
}
.icon-apple:before {
  content: "\e017";
}
.icon-lightbulb:before {
  content: "\e021";
}
.icon-instagram2:before {
  content: "\e022";
}
.icon-seal:before {
  content: "\e014";
}
.icon-thumbsup:before {
  content: "\e025";
}
.icon-pin:before {
  content: "\e026";
}
.icon-signup-downarrow:before {
  content: "\e027";
}
.icon-signup-uparrow:before {
  content: "\e028";
}
.icon-vehiclearrow-left:before {
  content: "\e029";
}
.icon-vehiclearrow-right:before {
  content: "\e02a";
}
.icon-modal-close:before {
  content: "\e02b";
}
.icon-nav-rightarrow:before {
  content: "\e02c";
}
.icon-mobilemodalclose:before {
  content: "\e02d";
}
.icon-leftarrow:before {
  content: "\e02e";
}
.icon-error:before {
  content: "\e02f";
}
.icon-avatar:before {
  content: "\e030";
}
.icon-deposit:before {
  content: "\e031";
}
.icon-payment:before {
  content: "\e032";
}
.icon-schedule:before {
  content: "\e033";
}
.icon-linkedin:before {
  content: "\e034";
}
.icon-linkedin_box:before {
  content: "\e035";
}