@import "variables";

.global-nav-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.global-nav-overlay.active {
  display: block;
}

/*
 * Global Nav
 * This is the hidden global nav shelf. This lives behind the main content to
 * the left of the page and is shown/hidden by the menu button.
 */
.global-nav {
  display: none;
  width: 285px;
  height: 100%;
  background: @DarkGray url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;
  background-size: 18px 18px;
  position: fixed;
  top: 0px;
  left: 0px;
  color: @white;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .global-nav {
    background: @DarkGray url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .global-nav {
    background-size: 18px 18px;
  }
}

.global-nav a {
  font-size: 12px;
  color: @white;
  text-transform: uppercase;
}

.global-nav .close span {
  padding-right: 8px;
  font-size: 16px;
  color: @primary;
}

.global-nav .muted {
  color: @LightGray;
}

.global-nav .actions {
  padding: 35px 25px 20px 20px;
}

.global-nav .actions .signin,
.global-nav .actions .signout {
  text-align: right;
}

.global-nav .actions .signup {
  margin: 18px 0 0;
  padding: 16px;
  background-color: @primary;
  font-size: 14px;
  color: @white;
  text-align: center;
}

.global-nav .actions .hello {
  margin: 18px 0 6px;
}

.global-nav .actions .hello,
.global-nav .actions .dashboard {
  font-size: 12px;
}

.global-nav .primary {
  margin-bottom: 20px;
  border-bottom: 1px solid @Gray;
}

.global-nav .primary a {
  display: block;
  padding: 0 20px;
  border-top: 1px solid @Gray;
  font-size: 15px;
  line-height: 45px;
}

.global-nav .primary a:active,
.global-nav .primary a:hover,
.global-nav .primary.home .home,
.global-nav .primary.cities .cities,
.global-nav .primary.drivers .drivers {
  background-color: rgba(255, 255, 255, 0.05);
  color: @primary;
}

.global-nav .secondary > p {
  display: block;
  padding: 5px 20px 0px;
  line-height: 21px;
}

.global-nav .secondary > p:hover a {
  color: @primary;
}

.global-nav .language-picker {
  padding: 20px 30px 20px 20px;
  position: relative;
}

.global-nav .language-picker label {
  font-size: 12px;
  color: @LightGray;
  text-transform: uppercase;
}

.global-nav .language-picker select {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  background-color: @primary-background;
  border: 2px solid @primary;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  color: @white;
  text-transform: uppercase;
  -webkit-appearance: none;
  cursor: pointer;
}

.global-nav .language-picker .dd-arrow {
  position: absolute;
  right: 42px;
  top: 59px;
  font-size: 11px;
  color: @primary;
}

.global-nav .downloads {
  padding: 8px 32px 16px;
  border-top: 1px solid @Gray;
  position: absolute;
  bottom: 0px;
}

.global-nav .downloads .apple-store,
.global-nav .downloads .google-play {
  border: 1px solid @white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.global-nav .downloads .apple-store {
  margin-right: 22px;
}

.global-nav .downloads .apple-phone,
.global-nav .downloads .google-phone {
  width: 84px;
  height: 110px;
  margin-left: 5px;
  background: transparent url('../images/web-fresh/global/sprite_1x-8.png') no-repeat 5px -93px;
  position: absolute;
  top: -110px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .global-nav .downloads .apple-phone,
  .global-nav .downloads .google-phone {
    background: transparent url('../images/web-fresh/global/sprite_2x-8.png') no-repeat 5px -93px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .global-nav .downloads .apple-phone,
  .global-nav .downloads .google-phone {
    background-size: 690px 264px;
  }
}

.global-nav .downloads .google-phone {
  right: 40px;
  background-position: -80px -93px;
}

.global-nav.open {
  display: block;
}

.focused .global-nav {
  display: none;
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .global-header .menu .icon-menu {
    top: -23px;
  }
}

@media screen and (max-width: 500px) {
  .global-nav {
    position: absolute;
    background: none;
  }

  .global-header {
    padding: 18px 0 18px 5px;
  }

  .global-header .menu {
    padding-top: 2px;
  }

  .global-header .menu .icon-menu {
    padding: 0;
    position: static;
    top: 0;
  }

  .global-header .actions {
    position: relative;
    left: -7px;
  }

  .global-header .actions a {
    padding: 5px 8px;
    border-width: 1px;
  }

  .global-header .yber-logo {
    width: 90px;
    height: 13px;
    top: 0px;
    background: transparent url('../images/web-fresh/global/logo-mobile-light_1x.png') no-repeat left top;
    background-size: 90px 13px;
  }

  .light .global-header .yber-logo {
    width: 90px;
    height: 13px;
    background: transparent url('../images/web-fresh/global/logo-mobile-dark_1x.png') no-repeat left top;
    background-size: 90px 13px;
  }

  .actions .btn {
    padding: 6px 8px;
    font-size: 7px;
  }

  .global-nav .actions {
    padding: 0px 25px 19px 20px;
  }

  .global-nav .actions .hello {
    margin: 18px 0 0px;
  }

  .global-nav .actions .dashboard {
    margin-bottom: 8px;
  }

  .global-nav .primary {
    margin-bottom: 17px;
  }

  .global-nav .primary a {
    padding: 5px 20px;
  }

  .global-nav .secondary > p {
    padding-top: 12px;
    padding-bottom: 4px;
  }
}