@import "variables";

.pattern-bg-lite {
  background: @white url('../images/web-fresh/pattern-grid_1x.jpg') repeat left top;
  background-size: 18px 18px;
}

.pattern-bg-dark {
  background: @DarkGray url('../images/web-fresh/pattern-grid-dark_1x.gif') repeat left top;
  background-size: 18px 18px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .pattern-bg-lite {
    background: @white url('../images/web-fresh/pattern-grid_2x.jpg') repeat left top;
    background-size: 18px 18px;
  }

  .pattern-bg-dark {
    background: @DarkGray url('../images/web-fresh/pattern-grid-dark_2x.gif') repeat left top;
    background-size: 18px 18px;
  }
}

