@white: #fff;
@yellow: #ff0;
@black: #000000;

@form-error: #eb2323;
@form-pending: #155d6c;

@primary: #3a753e;
@primary-border: #4bc8de;
@primary-border: lighten(@primary, 10%);

@primary-background: #070716;
@primary-background: darken(@primary, 70%);

@DarkGray: #202024;
@Gray: #636366;
@LightGray: #c0c0c0;
@LightBlue: #b3d4fc;
@Gray80: #ccc;
@Gray60: #999;
@Aqua: #1ebad6;
@SuperLightGray: #f1f1f1;
@MediumYellow: #ecca28;
@NavyBlue: #111e31;
@LighterGray: #a6b1b6;
@DarculaGray: #3C3C40;
@DarkRed: #940f12;