/* YUI 3.9.1 (build 5852) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
.yui3-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.opera-only :-o-prefocus,
.yui3-g {
  word-spacing: -0.43em;
}
.yui3-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.yui3-u-1,
.yui3-u-1-2,
.yui3-u-1-3,
.yui3-u-2-3,
.yui3-u-1-4,
.yui3-u-3-4,
.yui3-u-1-5,
.yui3-u-2-5,
.yui3-u-3-5,
.yui3-u-4-5,
.yui3-u-1-6,
.yui3-u-5-6,
.yui3-u-1-8,
.yui3-u-3-8,
.yui3-u-5-8,
.yui3-u-7-8,
.yui3-u-1-12,
.yui3-u-5-12,
.yui3-u-7-12,
.yui3-u-11-12,
.yui3-u-1-24,
.yui3-u-5-24,
.yui3-u-7-24,
.yui3-u-11-24,
.yui3-u-13-24,
.yui3-u-17-24,
.yui3-u-19-24,
.yui3-u-23-24 {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.yui3-u-1 {
  display: block;
}
.yui3-u-1-2 {
  width: 50%;
}
.yui3-u-1-3 {
  width: 33.33333%;
}
.yui3-u-2-3 {
  width: 66.66666%;
}
.yui3-u-1-4 {
  width: 25%;
}
.yui3-u-3-4 {
  width: 75%;
}
.yui3-u-1-5 {
  width: 20%;
}
.yui3-u-2-5 {
  width: 40%;
}
.yui3-u-3-5 {
  width: 60%;
}
.yui3-u-4-5 {
  width: 80%;
}
.yui3-u-1-6 {
  width: 16.656%;
}
.yui3-u-5-6 {
  width: 83.33%;
}
.yui3-u-1-8 {
  width: 12.5%;
}
.yui3-u-3-8 {
  width: 37.5%;
}
.yui3-u-5-8 {
  width: 62.5%;
}
.yui3-u-7-8 {
  width: 87.5%;
}
.yui3-u-1-12 {
  width: 8.3333%;
}
.yui3-u-5-12 {
  width: 41.6666%;
}
.yui3-u-7-12 {
  width: 58.3333%;
}
.yui3-u-11-12 {
  width: 91.6666%;
}
.yui3-u-1-24 {
  width: 4.1666%;
}
.yui3-u-5-24 {
  width: 20.8333%;
}
.yui3-u-7-24 {
  width: 29.1666%;
}
.yui3-u-11-24 {
  width: 45.8333%;
}
.yui3-u-13-24 {
  width: 54.1666%;
}
.yui3-u-17-24 {
  width: 70.8333%;
}
.yui3-u-19-24 {
  width: 79.1666%;
}
.yui3-u-23-24 {
  width: 95.8333%;
}
#yui3-css-stamp.cssgrids {
  display: none;
}
/* ### Core Responsive ### */
/* Sizes:
 * yui3-u-s-1 = Small  (> 500px)
 * yui3-u-m-1 = Medium (500px to 1000px)
 * yui3-u-l-1 = Large  (< 1000px)
 *
*/
/* Standard screens - 1024px to 1280px */
@media screen and (min-width: 1000px) {
  .res-l-hidden {
    display: none;
  }
  /* Hidable */
  .yui3-u-l-1 {
    display: block;
    width: 100%;
  }
  .yui3-u-l-1-2 {
    width: 50%;
  }
  .yui3-u-l-1-3 {
    width: 33.33333%;
  }
  .yui3-u-l-2-3 {
    width: 66.66666%;
  }
  .yui3-u-l-1-4 {
    width: 25%;
  }
  .yui3-u-l-3-4 {
    width: 75%;
  }
  .yui3-u-l-1-5 {
    width: 20%;
  }
  .yui3-u-l-2-5 {
    width: 40%;
  }
  .yui3-u-l-3-5 {
    width: 60%;
  }
  .yui3-u-l-4-5 {
    width: 80%;
  }
  .yui3-u-l-1-6 {
    width: 16.656%;
  }
  .yui3-u-l-5-6 {
    width: 83.33%;
  }
  .yui3-u-l-1-8 {
    width: 12.5%;
  }
  .yui3-u-l-3-8 {
    width: 37.5%;
  }
  .yui3-u-l-5-8 {
    width: 62.5%;
  }
  .yui3-u-l-7-8 {
    width: 87.5%;
  }
  .yui3-u-l-1-12 {
    width: 8.3333%;
  }
  .yui3-u-l-5-12 {
    width: 41.6666%;
  }
  .yui3-u-l-7-12 {
    width: 58.3333%;
  }
  .yui3-u-l-11-12 {
    width: 91.6666%;
  }
  .yui3-u-l-1-24 {
    width: 4.1666%;
  }
  .yui3-u-l-5-24 {
    width: 20.8333%;
  }
  .yui3-u-l-7-24 {
    width: 29.1666%;
  }
  .yui3-u-l-11-24 {
    width: 45.8333%;
  }
  .yui3-u-l-13-24 {
    width: 54.1666%;
  }
  .yui3-u-l-17-24 {
    width: 70.8333%;
  }
  .yui3-u-l-19-24 {
    width: 79.1666%;
  }
  .yui3-u-l-23-24 {
    width: 95.8333%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .res-m-hidden {
    display: none;
  }
  /* Hidable */
  .yui3-u-m-1 {
    display: block;
    width: 100%;
  }
  .yui3-u-m-1-2 {
    width: 50%;
  }
  .yui3-u-m-1-3 {
    width: 33.33333%;
  }
  .yui3-u-m-2-3 {
    width: 66.66666%;
  }
  .yui3-u-m-1-4 {
    width: 25%;
  }
  .yui3-u-m-3-4 {
    width: 75%;
  }
  .yui3-u-m-1-5 {
    width: 20%;
  }
  .yui3-u-m-2-5 {
    width: 40%;
  }
  .yui3-u-m-3-5 {
    width: 60%;
  }
  .yui3-u-m-4-5 {
    width: 80%;
  }
  .yui3-u-m-1-6 {
    width: 16.656%;
  }
  .yui3-u-m-5-6 {
    width: 83.33%;
  }
  .yui3-u-m-1-8 {
    width: 12.5%;
  }
  .yui3-u-m-3-8 {
    width: 37.5%;
  }
  .yui3-u-m-5-8 {
    width: 62.5%;
  }
  .yui3-u-m-7-8 {
    width: 87.5%;
  }
  .yui3-u-m-1-12 {
    width: 8.3333%;
  }
  .yui3-u-m-5-12 {
    width: 41.6666%;
  }
  .yui3-u-m-7-12 {
    width: 58.3333%;
  }
  .yui3-u-m-11-12 {
    width: 91.6666%;
  }
  .yui3-u-m-1-24 {
    width: 4.1666%;
  }
  .yui3-u-m-5-24 {
    width: 20.8333%;
  }
  .yui3-u-m-7-24 {
    width: 29.1666%;
  }
  .yui3-u-m-11-24 {
    width: 45.8333%;
  }
  .yui3-u-m-13-24 {
    width: 54.1666%;
  }
  .yui3-u-m-17-24 {
    width: 70.8333%;
  }
  .yui3-u-m-19-24 {
    width: 79.1666%;
  }
  .yui3-u-m-23-24 {
    width: 95.8333%;
  }
}
@media screen and (max-width: 500px) {
  .res-s-hidden {
    display: none;
  }
  /* Hidable */
  .yui3-u-s-1 {
    display: block;
    width: 100%;
  }
  .yui3-u-s-1-2 {
    width: 50%;
  }
  .yui3-u-s-1-3 {
    width: 33.33333%;
  }
  .yui3-u-s-2-3 {
    width: 66.66666%;
  }
  .yui3-u-s-1-4 {
    width: 25%;
  }
  .yui3-u-s-3-4 {
    width: 75%;
  }
  .yui3-u-s-1-5 {
    width: 20%;
  }
  .yui3-u-s-2-5 {
    width: 40%;
  }
  .yui3-u-s-3-5 {
    width: 60%;
  }
  .yui3-u-s-4-5 {
    width: 80%;
  }
  .yui3-u-s-1-6 {
    width: 16.656%;
  }
  .yui3-u-s-5-6 {
    width: 83.33%;
  }
  .yui3-u-s-1-8 {
    width: 12.5%;
  }
  .yui3-u-s-3-8 {
    width: 37.5%;
  }
  .yui3-u-s-5-8 {
    width: 62.5%;
  }
  .yui3-u-s-7-8 {
    width: 87.5%;
  }
  .yui3-u-s-1-12 {
    width: 8.3333%;
  }
  .yui3-u-s-5-12 {
    width: 41.6666%;
  }
  .yui3-u-s-7-12 {
    width: 58.3333%;
  }
  .yui3-u-s-11-12 {
    width: 91.6666%;
  }
  .yui3-u-s-1-24 {
    width: 4.1666%;
  }
  .yui3-u-s-5-24 {
    width: 20.8333%;
  }
  .yui3-u-s-7-24 {
    width: 29.1666%;
  }
  .yui3-u-s-11-24 {
    width: 45.8333%;
  }
  .yui3-u-s-13-24 {
    width: 54.1666%;
  }
  .yui3-u-s-17-24 {
    width: 70.8333%;
  }
  .yui3-u-s-19-24 {
    width: 79.1666%;
  }
  .yui3-u-s-23-24 {
    width: 95.8333%;
  }
}
.ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}