<section class="driver highlight-boxes">
    <div class="grid-locked grid-squeezed">

        <article class="boxes-grid yui3-g">

            <div class="box yui3-u-1-3 yui3-u-s-1">
                <div>
                    <p class="icon icon-thumbsup"></p>
                    <h4>yber<br>Qualified</h4>
                    <p>yber partners with drivers who care about their riders and have a passion for the trade.</p>
                </div>
            </div>

            <div class="box yui3-u-1-3 yui3-u-s-1">
                <div>
                    <p class="icon icon-star"></p>
                    <h4>Rider<br>Rated</h4>
                    <p>Tell us what you think. Your feedback helps us work with drivers to constantly improve the yber experience.</p>
                </div>
            </div>

            <div class="box yui3-u-1-3 yui3-u-s-1">
                <div>
                    <p class="icon icon-seal"></p>
                    <h4>Licensed &amp;<br>Insured</h4>
                    <p>From insurance to background checks, every driver meets all local regulations.</p>
                </div>
            </div>

        </article>

    </div>
</section>