<section class="driver-cta">
    <div class="grid-locked grid-squeezed">

        <article class="come-drive gray-box-cta yui3-g">
            <div class="yui3-u-1-2 yui3-u-s-1">
                <h4>Interested in driving with yber?</h4>
            </div>
            <div class="yui3-u-1-2 yui3-u-s-1">
                <div class="cta">
                    <p><a href="#">Become a Driver</a></p>
                </div>
            </div>
        </article>

    </div>
</section>