<section class="driver-stories">
    <div class="grid-locked grid-squeezed">

        <p class="label">Driver Profiles</p>
        <h3>The people behind the wheel</h3>

        <article class="yui3-g">

            <div class="story yui3-u-1-2 yui3-u-m-1 yui3-u-s-1">
                <img class="driver-image" alt="yber driver Vania" src="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/driver/driver-photo-vania.jpg">
                <h4>Vania</h4>
                <p class="star-rating">4.8<span class="icon-star"></span></p>
                <p>A single mother, cancer survivor, and five-year limousine veteran, Vania used yber to start her own business. Setting her own hours lets her provide for her family and be there for the important moments.</p>
            </div>

            <div class="story yui3-u-1-2 yui3-u-m-1 yui3-u-s-1">
                <img class="driver-image" alt="yber driver Aaron" src="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/driver/driver-photo-aaron.jpg">
                <h4>Aaron</h4>
                <p class="star-rating">4.9<span class="icon-star"></span></p>
                <p>Aaron loves driving people. He quit his day job, bought a car, and is now San Francisco’s favorite driver with a 4.9 star rating after thousands of completed rides.</p>
            </div>

            <div class="story yui3-u-1-2 yui3-u-m-1 yui3-u-s-1">
                <img class="driver-image" alt="yber driver Walid" src="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/driver/driver-photo-walid.jpg">
                <h4>Walid</h4>
                <p class="star-rating">4.9<span class="icon-star"></span></p>
                <p>A nursing student by day, Walid drove using yber on weekends and busy nights to pay his bills. He recently graduated from nursing school, and his business still partners with yber.</p>
            </div>

            <div class="story yui3-u-1-2 yui3-u-m-1 yui3-u-s-1">
                <img class="driver-image" alt="yber driver Evans" src="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/driver/driver-photo-evans.jpg">
                <h4>Evans</h4>
                <p class="star-rating">4.8<span class="icon-star"></span></p>
                <p>An ex-military serviceman, Evan started a business in Boston using yber. His well-run operations have grown rapidly, and he is now expanding to Atlanta and internationally.</p>
            </div>

        </article>

    </div>
</section>