<section class="contact">
    <div class="grid-locked grid-squeezed">

        <article class="contact_info">
            <p>For media inquiries, contact <a href="mailto:press@yber.com">press@yber.com</a></p>
        </article>

    </div>
</section>