<section class="hero js-hero">

    <article class="about-us hero-slide js-hero-slide" style="height: 566px;">
        <div class="headline">
            <h1>The Company</h1>
        </div>
        <img src="../images/web-fresh/about-heros/about-hero-1-1440-900.jpg" class="js-hisrc-preloader" style="height: auto; width: 100%; display: none;">
        <img src="../images/web-fresh/about-heros/about-hero-1-1440-900.jpg" data-1x="../images/web-fresh/about-heros/about-hero-1-1440-900.jpg" data-2x="../images/web-fresh/about-heros/about-hero-1-2880-1800.jpg" class="hisrc" alt="yber" style="height: auto; width: 100%;" width="1905" height="1191">
    </article>

</section>