<section class="intro">
    <div class="grid-locked grid-squeezed">

        <article class="copy">
            <p>yber is evolving the way the world moves. By seamlessly connecting riders to drivers through our apps, we make cities more accessible, opening up more possibilities for riders and more business for drivers. From our founding in 2009 to our launches in over 35 cities today, yber's rapidly expanding global presence continues to bring people and their cities closer.</p>
        </article>

    </div>
</section>