<section class="investors">
    <div class="grid-locked grid-squeezed">

        <p class="label white-label">Investors</p>

        <article class="yui3-g">
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-lowercase-logo.png" alt="Lowercase Capital" width="130">
                </a>
            </div>
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-first-round-logo.png" alt="First Round Capital" width="130">
                </a>
            </div>
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-menlo-logo.png" alt="Menlo" width="130">
                </a>
            </div>
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-benchmark-logo.png" alt="Benchmark" width="130">
                </a>
            </div>
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-goldman-sachs-logo.png" alt="Goldman Sachs" width="130">
                </a>
            </div>
            <div class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1 island">
                <a href="#">
                    <img src="../images/web-fresh/about/investor-google-ventures-logo.png" alt="Google Ventures" width="130">
                </a>
            </div>
        </article>

    </div>
</section>