<section class="team">
    <div class="grid-locked grid-squeezed">

        <p class="label">Leadership Team</p>

        <article class="yui3-g island top-margin bottom-margin">

            <div class="yui3-u-2-3 yui3-u-s-7-8">
                <section class="island">
                    <p class="title res-s-hidden bold-stretch">Co-founder &amp; Chief Executive Officer</p>
                    <p class="title res-l-hidden res-m-hidden">CEO</p>
                    <h4 class=" bold-stretch">Travis Kalanick</h4>
                </section>
                <p class="bio">Whether it’s founding the world’s first P2P search engine, or developing the premier enterprise content delivery system, Travis believes that every problem has a solution. You just have to be creative enough to find it. He’s guided the company from a niche market in San Francisco to its global presence today. Along the way, Travis has actively invested in and advised other passionate startup entrepreneurs. Somehow, he’s also managed to rack up the second highest Wii Tennis score in the world. Game, set, match.</p>
            </div>

        </article>

        <article class="yui3-g island top-margin bottom-margin">

            <div class="yui3-u-2-3 yui3-u-s-7-8">
                <section class="island">
                    <p class="title res-s-hidden bold-stretch">Chief Technology Officer</p>
                    <p class="title res-l-hidden res-m-hidden">CTO</p>
                    <h4 class=" bold-stretch">Thuan Pham</h4>
                </section>
                <p class="bio">Thuan demonstrates daily that hard work can be really fun and that success is more achievable with a talented team that is highly aligned and cohesive. He’s scaling Engineering to address the challenges that arise with yber’s rapid growth. Previously a VP of Engineering at VMWare, Westbridge and Doubleclick, Thuan has proven to be an inspirational leader who can deliver exceptional mission critical software and services. He holds a B.S. in Computer Science and Engineering and an M.S. in EE/CS from MIT. Beyond being a talented scholar, published author, amazing friend and father, he’s also an avid ping-pong and tennis player.</p>
            </div>

        </article>

        <article class="yui3-g island top-margin bottom-margin">

            <div class="yui3-u-2-3 yui3-u-s-7-8">
                <section class="island">
                    <p class="title res-s-hidden bold-stretch">Head of Global Operations</p>
                    <p class="title res-l-hidden res-m-hidden">VP of Operations</p>
                    <h4 class=" bold-stretch">Ryan Graves</h4>
                </section>
                <p class="bio">An active problem-solver and strategist, Ryan grew yber’s operations team from a single employee to a global workforce. Previously, he focused on growth and business development for Foursquare and SocialDreamium. He also led enterprise resource planning and corporate restructuring at General Electric and CNA Insurance. When not scaling yber’s operations, Ryan volunteers as a consultant for internet businesses and not-for-profit ventures. Ryan holds a B.S. in Economics from Miami University (Ohio). Being an avid surfer, he prefers wet suits to business suits.</p>
            </div>

        </article>

        <article class="yui3-g island top-margin bottom-margin">

            <div class="yui3-u-2-3 yui3-u-s-7-8">
                <section class="island">
                    <p class="title res-s-hidden bold-stretch">General Counsel</p>
                    <p class="title res-l-hidden res-m-hidden">General Counsel</p>
                    <h4 class="bold-stretch">Salle Yoo</h4>
                </section>
                <p class="bio">Salle ensures that yber can rapidly expand its global presence and sustain long-term growth in existing markets. A graduate of Scripps College and Boston University School of Law, Salle was a partner at Davis Wright Tremaine LLP, where she represented leading energy, telecommunications and technology firms. She serves on several boards, including the Asian American Bar Association of the Greater Bay Area and the Museum Council for the Asian Art Museum. When not working, you can find her using yber to get to the tennis court or home to her family in Noe Valley.</p>
            </div>

        </article>

    </div>
</section>