<section class="cities-list">
<div class="grid-locked">

<article class="yui3-g">


<nav class="yui3-u-1">
    <p class="title">Americas</p>
    <ul class="yui3-g">

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Atlanta
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Baltimore
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Bogotá
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Boston
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Charlotte
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Chicago
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Columbus
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Dallas
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Denver
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Detroit
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Hamptons
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Honolulu
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Indianapolis
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Los Angeles
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Mexico City
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Minneapolis
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                New York City
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Orange County
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Philadelphia
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Phoenix
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Providence
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Sacramento
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                San Diego
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                San Francisco
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Seattle
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Toronto
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Tucson
            </a>
        </li>

        <li class="yui3-u-1-3 yui3-u-s-1-2">
            <a href="#">
                Washington D.C.
            </a>
        </li>

    </ul>
</nav>

</article>

</div>
</section>