<section class="hero js-hero">
    <article class="uber-global hero-slide js-hero-slide">
        <div class="headline">
            <h1>19 Countries</h1>

            <p>Available locally, expanding globally</p>
        </div>
        <img src="images/web-fresh/cities-heros/worldmap-1440-900.gif"
             class="js-hisrc-preloader" style="height: auto; width: 100%"/>
        <img src="images/web-fresh/cities-heros/worldmap-1440-900.gif"
             data-1x="images/web-fresh/cities-heros/worldmap-1440-900.gif"
             data-2x="images/web-fresh/cities-heros/worldmap-2880-1800.gif"
             class="hisrc" alt="Uber Global" style="height: auto; width: 100%;"/>
    </article>

</section>