<section class="search-holder">

    <article class="searcher yui3-g">
        <div class="yui3-u-2-3 yui3-u-s-1">

            <form action="#" method="GET">
                <div class="city-search js-city-search">
                    <input type="text" placeholder="Find your city"/>
                    <a class='search-button icon-search js-search-button' href="#"></a>
                </div>
            </form>

        </div>
    </article>

</section>