<section class="around-the-world">
    <div class="grid-locked grid-squeezed">

        <article class="map-title">

            <p class="label inverted">Locations</p>

            <h3>All around the world</h3>

            <p>Available locally, expanding globally</p>

            <form action="#">
                <div class='city-search js-city-search'>
                    <input type="text" placeholder="Find your city"/>
                    <a class='search-button icon-search js-search-button' href="#"></a>

                </div>
            </form>
            <a class="cities-link" href="#">View all cities</a>
        </article>

    </div>
</section>