<section class="features js-request-and-ride">
    <div class="grid-locked grid-squeezed">
        <article>
            <p class="label">Features</p>

            <h3>The yber App</h3>

            <p>Request, ride, and pay via your mobile phone</p>

            <ul class="story js-story yui3-g">

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 tap-to-ride ga-click-track"
                    data-ga="home-yber-app.tap-to-ride-box-click"
                    data-modal-name="tap-to-ride">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">One Tap<br/>to Ride</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 reliable-pickup ga-click-track"
                    data-ga="home-yber-app.reliable-pickup-box-click"
                    data-modal-name="reliable-pickup">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">Reliable<br/>Pickups</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 clear-pricing ga-click-track"
                    data-ga="home-yber-app.clear-pricing-box-click"
                    data-modal-name="clear-pricing">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">Clear<br/>Pricing</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 cashless-convenient ga-click-track"
                    data-ga="home-yber-app.cashless-convenient-box-click"
                    data-modal-name="cashless-convenient">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">Cashless &<br/>Convenient</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 feedback-matters ga-click-track"
                    data-ga="home-yber-app.feedback-matters-box-click"
                    data-modal-name="feedback-matters">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">Feedback<br/>Matters</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

                <li class="yui3-u-1-3 yui3-u-m-1-2 yui3-u-s-1-2 split-fare ga-click-track"
                    data-ga="home-yber-app.split-fare-box-click"
                    data-modal-name="split-fare">
                    <div>
                        <div class="title-box">
                            <h4 class="headline">Split Your<br/>Fare</h4>
                            <span class="plus icon-thin_plus"></span>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </li>

            </ul>
        </article>
        {% include "./features-modal.html" %}
    </div>
</section>
