<article class="modal-gallery js-modal-gallery">
    <a href="#" class="close-modal js-close-modal icon-modal-close"></a>

    <div class="modal-container">
        <a href="#" class="last btn icon-left_thin"></a>

        <ul>

            <li class="modal-slide tap-to-ride"
                data-modal-slide="tap-to-ride">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>One Tap to Ride</h3>

                    <p>yber uses your phone's GPS to detect your location and connects you with the nearest
                        available driver. Get picked up anywhere — even if you don't know the exact address.</p>
                </div>
            </li>

            <li class="modal-slide reliable-pickup"
                data-modal-slide="reliable-pickup">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>Reliable Pickups</h3>

                    <p>When you request a ride, we’ll find a driver and let you track their location on the map.
                        Feel free to put away your phone – we’ll text you when your ride arrives. Your driver’s
                        name and car details appear in the app, and you can message or call if you need to.</p>
                </div>
            </li>

            <li class="modal-slide clear-pricing"
                data-modal-slide="clear-pricing">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>Clear Pricing</h3>

                    <p>View rates for your city in the app. You can also enter your pickup and drop-off
                        locations to get a fare quote for your trip.</p>
                </div>
            </li>

            <li class="modal-slide cashless-convenient"
                data-modal-slide="cashless-convenient">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>Cashless &amp; Convenient</h3>

                    <p>You don't need cash when you ride with yber. Once you arrive at your destination, your
                        fare is automatically charged to your credit card on file – no need to tip. We’ll also
                        e-mail you a receipt.</p>
                </div>
            </li>

            <li class="modal-slide feedback-matters"
                data-modal-slide="feedback-matters">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>Feedback Matters</h3>

                    <p>Drivers not only meet yber’s standards, they meet your standards. After your trip, you
                        can rate your experience and leave additional feedback about your driver.</p>
                </div>
            </li>

            <li class="modal-slide split-fare"
                data-modal-slide="split-fare">
                <p class="feature-image js-preload"></p>

                <p class="stick"></p>

                <div class="copy">
                    <h3>Split Your Fare</h3>

                    <p>Simplify your life and your fractions. Invite your friends to split the fare. If your
                        friends opt in, each person’s credit card will be charged equally. No more pay-me-backs
                        or IOUs.</p>
                </div>
            </li>

        </ul>

        <a href="#" class="next btn icon-right_thin"></a>
    </div>
</article>