<section class="hero js-home-hero">

    <nav class="controller js-home-controller">
        <a class="slide-trigger active ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-one-click"
           data-hero-slide="moving-people">
            <span class="blue-dot"></span>
        </a>
        <a class="slide-trigger ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-two-click"
           data-hero-slide="mark-it">
            <span class="blue-dot"></span>
        </a>
        <a class="slide-trigger ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-three-click"
           data-hero-slide="night-out">
            <span class="blue-dot"></span>
        </a>
        <a class="slide-trigger ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-four-click"
           data-hero-slide="be-the-boss">
            <span class="blue-dot"></span>
        </a>
        <a class="slide-trigger ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-five-click"
           data-hero-slide="arrive-style">
            <span class="blue-dot"></span>
        </a>
        <a class="slide-trigger ga-click-track" href="#"
           data-ga="home-hero.slide-nav-button-six-click"
           data-hero-slide="go-international">
            <span class="blue-dot"></span>
        </a>
    </nav>

    <article class="active hero-slide js-home-slide" data-slide="moving-people">
        <div class="headline">
            <h1>Moving people</h1>

            <p>The yber app connects you with a driver at the tap of a button</p>

            <p class="cta">
                <a href="sign-up.html" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-one-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img src="images/web-fresh/home/heros/home-hero-1-1440-900.jpg"
             class="js-hisrc-preloader"/>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-1-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-1-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-1-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

    <article class="hero-slide js-home-slide" data-slide="mark-it">
        <div class="headline">
            <h1>Get it done</h1>

            <p>yberX makes it easy and affordable to take care of the everyday</p>

            <p class="cta">
                <a href="sign-up.html" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-two-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-2-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-2-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-2-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

    <article class="hero-slide js-home-slide" data-slide="night-out">
        <div class="headline">
            <h1>Make it a night out</h1>

            <p>Kick off your evening with no reservations</p>

            <p class="cta">
                <a href="sign-up.html" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-three-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-3-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-3-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-3-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

    <article class="hero-slide js-home-slide" data-slide="be-the-boss">
        <div class="headline">
            <h1>Be the boss</h1>

            <p>Take a meeting on your way to the meeting</p>

            <p class="cta">
                <a href="sign-up.html" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-four-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-4-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-4-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-4-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

    <article class="hero-slide js-home-slide" data-slide="arrive-style">
        <div class="headline">
            <h1>Arrive in style</h1>

            <p>Show up ready for the occasion</p>

            <p class="cta">
                <a href="#" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-five-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-5-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-5-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-5-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

    <article class="hero-slide js-home-slide" data-slide="go-international">
        <div class="headline">
            <h1>Go global</h1>

            <p>Use yber wherever you land next</p>

            <p class="cta">
                <a href="#" class="ga-click-track"
                   data-ga="home-hero-exp.slide-nav-signup-button-five-click">
                    Sign up for yber
                </a>
                <span></span>
            </p>
        </div>
        <img class='hisrc'
             src="images/web-fresh/home/heros/home-hero-6-1440-900.jpg"
             data-1x="images/web-fresh/home/heros/home-hero-6-1440-900.jpg"
             data-2x="images/web-fresh/home/heros/home-hero-6-2880-1800.jpg"
             style="height: auto; width: 100%; "/>
    </article>

</section>
