<div id="slides">
    <ul class="slides-container">
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
        <li>
        </li>
    </ul>
    <nav class="slides-navigation">
        <a href="#" class="next">
            <i class="icon-chevron-right"></i>
        </a>
        <a href="#" class="prev">
            <i class="icon-chevron-left"></i>
        </a>
    </nav>
</div>