<section class="vehicle-fleet yui3-g">
<div class="bg-top"></div>
<div class="grid-locked grid-squeezed">

<article class="content js-content yui3-u-1">

    <p class="label inverted">Options</p>

    <h3>Choice is a beautiful thing</h3>

    <p>Get a ride that matches your style and budget</p>

    <section class="yberx active vehicle-slide js-vehicle-slide"
             data-vehicle-slide="yberx">
        <div class="sunrise-box">
            <h4>The low-cost yber</h4>

            <p class="sunrise">yber<strong>X</strong></p>
        </div>
        <div class="vehicle-info">
            <p class="vehicle-img yberx">yberX</p>

            <div class="copy">
                <p>Everyday cars for everyday use.<br/>Better, faster, and cheaper than a taxi.</p>
            </div>
        </div>
    </section>
    <section class="taxi vehicle-slide js-vehicle-slide"
             data-vehicle-slide="taxi">
        <div class="sunrise-box">
            <h4>Taxi without the hassle</h4>

            <p class="sunrise">yber<strong>TAXI</strong></p>
        </div>
        <div class="vehicle-info">
            <p class="vehicle-img js-preload">Taxi</p>

            <div class="copy">
                <p>No whistling, no waving, no cash needed.</p>
            </div>
        </div>
    </section>
    <section class="black vehicle-slide js-vehicle-slide"
             data-vehicle-slide="black">
        <div class="sunrise-box">
            <h4>The original</h4>

            <p class="sunrise">yber<strong>BLACK</strong></p>
        </div>
        <div class="vehicle-info">
            <p class="vehicle-img js-preload">Black</p>

            <div class="copy">
                <p>Your own private driver, on demand.<br/>Expect pickup in a high-end sedan within minutes.</p>
            </div>
        </div>
    </section>
    <section class="suv vehicle-slide js-vehicle-slide"
             data-vehicle-slide="suv">
        <div class="sunrise-box">
            <h4>Room for everyone</h4>

            <p class="sunrise">yber<strong>SUV</strong></p>
        </div>
        <div class="vehicle-info">
            <p class="vehicle-img js-preload">SUV</p>

            <div class="copy">
                <p>For those times when you need a bit more space.<br/>Seats up to six people in style.</p>
            </div>
        </div>
    </section>
    <section class="lux vehicle-slide js-vehicle-slide"
             data-vehicle-slide="lux">
        <div class="sunrise-box">
            <h4>Ultimate luxury</h4>

            <p class="sunrise">yber<strong>LUX</strong></p>
        </div>
        <div class="vehicle-info">
            <p class="vehicle-img js-preload">LUX</p>

            <div class="copy">
                <p>The finest cars with prices to match.</p>
            </div>
        </div>
    </section>

</article>

<article class="vehicle-chooser js-vehicle-chooser res-s-hidden yui3-u-1">

    <div class="vehicles js-vehicles yui3-g">
        <a href="#" data-icon-name="icon-yberx" data-slide-type="yberx"
           class="active yui3-u-1-5 yberx">yberX</a>
        <a href="#" data-icon-name="icon-taxi" data-slide-type="taxi"
           class="yui3-u-1-5">TAXI</a>
        <a href="#" data-icon-name="icon-black" data-slide-type="black"
           class="yui3-u-1-5">BLACK</a>
        <a href="#" data-icon-name="icon-suv" data-slide-type="suv"
           class="yui3-u-1-5">SUV</a>
        <a href="#" data-icon-name="icon-lux" data-slide-type="lux"
           class="yui3-u-1-5">LUX</a>
    </div>

    <div class="slider-bar js-slider-bar">
        <p href="#" class="slider-circle js-slider">
            <span class="car icon-yberx"></span>
        </p>
    </div>

</article>

<!-- TODO Make partials and only load what is needed here -->
<!-- TODO Make this dynamic data -->
<nav class="mobile-nav js-mobile-nav res-l-hidden res-m-hidden yui3-u-1">

    <div class="yberx">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
            yber<strong>X</strong>
            <span class="closed mobile-arrow icon-signup-downarrow"></span>
            <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>

        <div class="data">
            <div class="sunrise-box"><p class="sunrise">yberX</p></div>
            <p class="vehicle-img js-preload">yberX</p>

            <div class="info">
                <h5>The low-cost yber</h5>

                <p>Everyday cars for everyday use.<br/>Better, faster, and cheaper than a taxi.</p>
            </div>
        </div>
    </div>

    <div class="taxi">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
            yber<strong>TAXI</strong>
            <span class="closed mobile-arrow icon-signup-downarrow"></span>
            <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>

        <div class="data">
            <div class="sunrise-box"><p class="sunrise">yberTAXI</p></div>
            <p class="vehicle-img js-preload taxi">yberTAXI</p>

            <div class="info">
                <h5>Taxi without the hassle</h5>

                <p>No whistling, no waving, no cash needed.</p>
            </div>
        </div>
    </div>

    <div class="black">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
            yber<strong>BLACK</strong>
            <span class="closed mobile-arrow icon-signup-downarrow"></span>
            <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>

        <div class="data">
            <div class="sunrise-box"><p class="sunrise">yberBLACK</p></div>
            <p class="vehicle-img js-preload">yberBLACK</p>

            <div class="info">
                <h5>The original</h5>

                <p>Your own private driver, on demand.<br/>Expect pickup in a high-end sedan within minutes.</p>
            </div>
        </div>
    </div>

    <div class="suv">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
            yber<strong>SUV</strong>
            <span class="closed mobile-arrow icon-signup-downarrow"></span>
            <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>

        <div class="data">
            <div class="sunrise-box"><p class="sunrise">yberSUV</p></div>
            <p class="vehicle-img js-preload">yberSUV</p>

            <div class="info">
                <h5>Room for everyone</h5>

                <p>For those times when you need a bit more space.<br/>Seats up to six people in style.</p>
            </div>
        </div>
    </div>

    <div class="lux">
        <a class="vehicle-toggle js-vehicle-toggle" href="#">
            yber<strong>LUX</strong>
            <span class="closed mobile-arrow icon-signup-downarrow"></span>
            <span class="open mobile-arrow icon-signup-uparrow"></span>
        </a>

        <div class="data">
            <div class="sunrise-box"><p class="sunrise">yberLUX</p></div>
            <p class="vehicle-img js-preload">yberLUX</p>

            <div class="info">
                <h5>Ultimate luxury</h5>

                <p>The finest cars with prices to match.</p>
            </div>
        </div>
    </div>

</nav>

</div>
</section>