@import "../common/variables";

.ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pattern-bg-lite {
  background: @white url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;
}

.pattern-bg-dark {
  background: @DarkGray url('../images/web-fresh/pattern-grid-dark@1x.gif') repeat left top;
  background-size: 18px 18px;
}

.transition-off {
  webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-backface-visibility: hidden;
}

.hero .hero-slide {
  min-height: 700px;
}

.hero .hero-slide .headline {
  top: 45%;
}

@import "search";
@import "city-list";


@media screen and (max-width: 1000px) {
  .hero .hero-slide .headline {
    top: 43%;
  }

  .hero .hero-slide .headline h1 {
    line-height: 70px;
  }

  .searcher {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    min-height: 482px;
  }

  .hero .hero-slide .headline {
    margin: 0 20px;
    padding: 0 5px;
    top: 54%;
  }

  .hero .hero-slide .headline h1 {
    line-height: 64px;
  }

  .searcher {
    width: 100%;
    top: -32px;
    left: 0px;
  }

  .searcher .city-search {
    max-width: 100%;
  }

  .cities-list {
    padding: 60px 15px 40px;
  }

  .cities-list .title {
    text-align: center;
  }

  .cities-list li a {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 12px;
  }
}