@import "../common/variables";

.cities-list {
  min-height: 500px;
  padding: 60px 0 220px;
  background: @white url('../images/web-fresh/pattern-grid@1x.jpg') repeat left top;
  background-size: 18px 18px;

  @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2), (-ms-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: @white url('../images/web-fresh/pattern-grid@2x.jpg') repeat left top;
    background-size: 18px 18px;
  }

}

.cities-list .grid-locked {
  max-width: 688px;
}

.cities-list .title {
  padding-bottom: 20px;
  font-size: 14px;
  color: @Aqua;
  text-transform: uppercase;
}

.cities-list ul {
  padding-bottom: 40px;
}

.cities-list li a {
  font-size: 14px;
  color: @primary-background;
  line-height: 28px;
}

.cities-list li a:hover {
  text-decoration: underline;
}



