@import "../common/variables";

.search-holder {
  position: relative;
}

.searcher {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -95px;
  left: 10px;
  z-index: 3;
}

.searcher p {
  padding-top: 35px;
  font-size: 10px;
}

.searcher .city-search {
  max-width: 310px;
}
